[2015-08-10 20:16] ellucianBret opened #1 "Trying out the new gym - heh"
gym is failing to complete the package_app step. The .ipa is created and copied to the Archives subfolder. But gym seems to see an error and logs a failure.

Output:
[code]

[2015-08-10 22:20] KrauseFx commented on #1
@ellucianBret Thanks for trying `gym`. It might be related to the spaces in the product name. I'll take a look at this tomorrow :+1:

[2015-08-11 17:14] lacostej commented on #1
I had a similar problem today, until I understood that gym also fails is codesign check fails.

In my case I have a
[code]
in my output that triggers the failure after the EXPORT SUCCEEDED.

Maybe +handle_package_error+ should be improved to search for that error.

[2015-08-11 17:18] lacostej commented on #1
In my case, this is my scenario. I will need to add the code signing option.

http://stackoverflow.com/questions/23682083/xcodebuild-not-copying-file-from-app

[2015-08-11 17:22] KrauseFx commented on #1
@lacostej If you install the latest version `gym` now forces you to have a provisioning profile. I don't know yet how that works with apps having WatchKit extensions.

[2015-08-11 17:27] lacostej commented on #1
I was using today's version from 15:17 :) Will try

[2015-08-11 17:28] KrauseFx commented on #1
15:17 is sooo old :wink:

[2015-08-11 17:52] lacostej commented on #1
This issue disappears with the new PP argument requirement for gym for me.

[2015-08-11 17:54] lacostej opened #2 "gym tries to reinstall a provisioning profile"
used like
[code]

[2015-08-11 18:14] lacostej opened #3 "Display error code when failing"
xcodebuild fails without explanation

I am running into errorcode 65 while packaging. See http://michael.lavaveshkul.com/blog/2011/12/xcodebuild-exit-code-65/

it would be good to display at least the error code.

[2015-08-12 02:23] mono0926 opened #5 "Mssing "Building Application" information: "Configuration""
Gym(0.1.0) works correctly, but I want "Building Application" information: "Configuration".

<img width="904" alt="screen shot 2015-08-12 at 11 14 49" src="https://cloud.githubusercontent.com/assets/1255062/9215336/f837545c-40e3-11e5-84c5-c6ef1f111bbf.png">

[code]

[2015-08-12 09:22] mono0926 opened #6 "Should I specify "output_directory" option or something before `deliver`?"
I got this error, when trying to run `deliver` command after `gym` command.

[code]

The Fastfile's codes is here:

[code]

I think that `gym`'s default output_directory is `~/Library/Developer/Xcode/Archives/`, so default `deliver` command fails to find the ipa file.
https://github.com/KrauseFx/deliver/blob/master/lib/deliver/deliver_process.rb#L166-L189

If I specify `output_directory: "./fastla

[2015-08-12 12:11] toshi0383 opened #9 "project option doesn't work ?"
I have multiple .xcodeproj file.
So I tried gym in Fastfile like this.

[code]

And it failing like this.

[code]

[2015-08-12 12:19] toshi0383 commented on #9
BTW, I'm not sure, xcargs syntax is correct ?

[2015-08-12 13:02] SPAHI4 opened #10 "build dont publishing to appstore"
i just replace ipa with gym in Fastfile

[15:47:59]: iTunes Transporter successfully finished its job
[15:47:59]: [Transporter]: DBG-X: Returning 0
[15:47:59]: ------------------------------------------------------------------------------------------------------
[15:47:59]: Successfully uploaded package to iTunesConnect. It might take a few minutes until it's visible online.
[15:47:59]: ----------

[2015-08-12 15:30] staminajim opened #11 "Gym does not generate a zipped dsym file"
Hi @KrauseFx, thanks for moving forward with the shenzhen replacement!  I gave it a go and it _almost_ works already.  Only problem so far is I had to specify  `output_directory` and pass that along to `hockey` so it could find the ipa file.
This works fine except there's a: `Symbols not found on path` _ output_directory_ `Crashes won't be symbolicated properly` warning because gym doesn't put a d

[2015-08-12 15:54] czechboy0 opened #12 "Allow using gym for just exporting an IPA from an xcarchive"
It would be great to allow `gym` to be used for just exporting of an IPA from an existing archive. I use Xcode Server to test and archive, but would like to download that and export an IPA from it locally and use fastlane to upload to testflight etc. Right now `gym` seems to be doing the building of the archive and exporting internally, so it'd be nice to be able to trigger only a subset of these

[2015-08-12 19:25] KrauseFx commented on #10
Could you share your configuration? (e.g. `Fastfile` and general information about your setup)

[2015-08-13 00:32] mono0926 opened #13 "Cannot upload the ipa built with gym to iTunesConnect"
Previously, I used shenzhen `ipa` and `deliver`, and I successfully uploaded the ipa to iTunesConnect.
But, after I change to `gym` from `ipa`, I got this message from Apple.

[code]

[2015-08-13 01:36] ide commented on #13
Have you installed Xcode 7 or El Capitan recently? It sounds like you could be using a beta release of some software.

[2015-08-13 01:40] mono0926 commented on #13
Indeed it sounds like built with a beta release of some software, but I don't use that kind of software.

`gym` is executed on CicleCI and setting is this:

[code]

[CircleCI iOS docs](https://circleci.com/docs/ios)

[2015-08-13 01:40] ide opened #15 "xcodebuild: Invalid option -xcargs"
It looks like xcodebuild doesn't take an `xcargs` option but instead just takes `<buildsetting>=<value>` pairs directly.

[2015-08-13 01:41] mono0926 commented on #13
I reverted to shenzhen `ipa` from `gym`, and uploading the ipa file to iTunesConnect was succeeded again.

[2015-08-13 01:41] ide commented on #13
Perhaps the error message is misleading and the issue is related to #14.

[2015-08-13 01:46] mono0926 commented on #13
Thanks, if #14 solved, this issue will probably be solved :+1:

[2015-08-13 07:34] ide commented on #9
The xcargs option was broken for me (fixed in #16). Not sure if that will fix your issue with the project option, though.

[2015-08-13 07:40] SPAHI4 commented on #10
sure

fastlane_version "1.15.0"

default_platform :ios

platform :ios do

  before_all do
    # ENV["SLACK_URL"] = "https://hooks.slack.com/services/..."

    # cocoapods

    increment_build_number

    #ipa(
     #scheme: "Restaurant»,
     # project: "Restaurant.xcodeproj"
    #)
	gym

    # xctool # run the tests of your app
  end

  desc "Runs all the tests"
  lane :test do
    snapshot
  end

[2015-08-13 07:54] lacostej commented on #15
Could you document (maybe in the xcargs help) what the format of the argument should be ?

I had fixed the xcargs argument on my fork with https://github.com/lacostej/gym/commit/e2c134e013c1f9ab56dbcfe2f0c12e982b4ffaf6

and I was using it with something like:

  --xcargs "'CONFIGURATION_BUILD_DIR=${build_dir}' 'CODE_SIGNING_IDENTITY=${CODE_SIGNING_IDENTITY}' 'PROVISIONING_PROFILE=${PROVISIONING_PR

[2015-08-13 08:08] ide commented on #15
Updated the help options to mention quoting the values. They get directly appended to the xcodebuild command (same as shenzhen/ipa).

[2015-08-13 09:09] lacostej commented on #12
+1 to that. This would allow to test the exporting without having to rebuild everytime.

[2015-08-13 09:25] KrauseFx commented on #13
@mono0926 Yes, this will be fixed with https://github.com/fastlane/gym/pull/14/files. I'll update this issue once it's available online later today :+1:

[2015-08-13 09:27] KrauseFx commented on #12
I'll work on a refactor to make this work :+1:

[2015-08-13 10:19] KrauseFx commented on #10
Thanks, I'll work on a fix today :+1:

[2015-08-13 10:26] lacostej commented on #12
actually, xcodebuild is used for more than building iOS apps, so in the end gym should probably support those other cases.

[2015-08-13 10:36] iv-mexx opened #21 "Codesigning not working correctly (Missing code-signing certificate)"
This might be an error on my part, I'm not sure if this should work with `gym` alone, or if some other fastlane tool is required for this step... I'm just getting started using fastlane tools :smile:

When building my project with `gym` and then trying it to iTunes (with both, pilot or the Application Loader), i get this error:

I have already tried the `--provisioning_profile_name` option, but it

[2015-08-13 10:43] #2 closed

[2015-08-13 10:43] KrauseFx commented on #2
Thanks for providing the fix :+1:

[2015-08-13 10:44] KrauseFx commented on #1
This part is being completely rewritten, I'll close this issue for now.

[2015-08-13 10:44] #1 closed

[2015-08-13 10:49] KrauseFx commented on #12
The primary use case of `gym` is

This does include building the `ipa` from an archive, but doesn't include any other actions, like testing.

[2015-08-13 10:51] #15 closed

[2015-08-13 10:52] KrauseFx commented on #21
We're currently working on a fix for this issue. If you want you can join the discussion on Slack :+1:

[2015-08-13 10:54] KrauseFx commented on #9
I'll work on a fix for the project option :+1:

[2015-08-13 11:24] #9 closed

[2015-08-13 11:24] KrauseFx commented on #9
Just pushed a fix, this will be in the version :+1:

[2015-08-13 12:28] #3 closed

[2015-08-13 12:28] KrauseFx commented on #3
Thanks :+1:

[2015-08-13 12:39] KrauseFx commented on #5
:+1:

[2015-08-13 12:39] #5 closed

[2015-08-13 12:40] mono0926 commented on #5
:bow:

[2015-08-13 12:40] mono0926 commented on #13
:bow:

[2015-08-13 13:36] KrauseFx commented on #13
This is fixed and will be in the next release, later today :+1:

[2015-08-13 13:36] #13 closed

[2015-08-13 14:07] KrauseFx commented on #11
Thanks, this should be fixed, pushing a new version soon :+1:

[2015-08-13 14:07] #11 closed

[2015-08-13 14:08] KrauseFx commented on #6
This is fixed now, I'm pushing a new version later today :+1:

[2015-08-13 14:08] #6 closed

[2015-08-13 14:32] mono0926 commented on #6
:bow:

[2015-08-13 14:42] toshi0383 commented on #9
Great, thanks !

[2015-08-13 16:24] KrauseFx commented on #21
Could you update to the version `0.2.0` and let me know if that works for you?

[2015-08-13 17:22] mr-const opened #27 "undefined method `print_command'"
I'm trying to build project using jenkins and gym 0.2.0, it almost succeeds, but finally throws following error:
[code]

I'm running gym with following options:
[code]
`CODE_SIGNING_IDENTITY` and `PROVISIONING_PROFILE` are supplied by jenkins' plugins and are valid.

[2015-08-13 17:41] KrauseFx commented on #27
Thanks, a fix is live, please update and let me know if it works

[2015-08-13 17:41] #27 closed

[2015-08-13 18:16] iv-mexx commented on #21
I have tested with `0.2.0` and also with `0.2.1`, sadly it is not yet working for me.

Just to make sure that I'm using the correct provisioning profile, I have now tried `sigh` and it has downloaded the profile that I expected.

Heres the relevant output from `gym 0.2.1`:
[code]

Let me know if I can provide additional information or if I'm doing something wrong :smiley:

[2015-08-13 20:55] KrauseFx commented on #21
What's the error you're receiving? What's not working? Can you share the complete output when uploading the resulting binary?

[2015-08-13 21:10] ellucianBret opened #28 "To properly sign an iOS application with WatchKit 2, xcodebuild -exportArchive needs to include the -exportOptionsPlist option"
With Xcode 7, the only way to correctly sign an app that includes watch kit is to include a -exportOptionsPlist exportOptions.plist to xcodebuild.

I am currently using a "sh" to archive because none of the other options provided a way to include this flag in the archive step.

Looks like with gym I can pass in an "xcargs" parameter. I haven not yet tried it to see if it works with gym to pass in

[2015-08-13 22:47] iv-mexx commented on #21
Sure. The error is still the same as original reported:

Here's the complete output from `pilot`

[code]

[2015-08-14 06:49] fabb opened #29 "Could Unit Tests be Run?"
At the moment we use `xctool` for archiving, executing unit tests from the command line, and building simulator builds to be used with `Calabash`.

As `gym` looks interesting, we are evaluating it. Will `gym` allow to run unit tests too like `xctool` does?

[2015-08-14 07:40] lacostej commented on #29
Issue #12 (which @KrauseFx is working on I think) is about making sure we can run the build & archive actions independently. As part of that, we can probably support other actions, including test.

BTW, we could also consider letting the user use xctool instead of xcodebuild as build backend, as it has a few different features (like parallelised tests). But that would probably conflict with the ou

[2015-08-14 09:09] KrauseFx commented on #29
Sorry, no, `gym` should be only for building and signing an `ipa` file and does not do testing.

@lacostej We shouldn't use `xctool` as it adds another layer of abstraction which has issues with Mac OS X projects. I want to stay focused on plain `xcodebuild` with an improved output using `xcpretty`

[2015-08-14 09:09] #29 closed

[2015-08-14 09:10] KrauseFx commented on #21
The error message helps:
[code]

You didn't use a distribution profile. Could you specify the distribution profile in your Xcode project and try again?

[2015-08-14 09:32] SPAHI4 commented on #10
Seems to you fix this, cool

[2015-08-14 09:32] #10 closed

[2015-08-14 09:42] iv-mexx commented on #21
Oh wow, sorry!
You are right - my project used "Automatic" selection of the profile.
This has worked for
* building everything with Xcode
* building with `gym` and exporting the resulting .ipa from the Organizer manually

Anyway, when specifying the correct profile in Xcode, it works now using only `gym` :smiley:

Thanks for the help :+1:

[2015-08-14 09:42] #21 closed

[2015-08-14 09:45] KrauseFx commented on #10
:+1:

[2015-08-14 09:46] KrauseFx commented on #21
Great to hear :+1: You can also pass the provisioning profile using environment variables if you want to https://github.com/KrauseFx/fastlane/blob/master/docs/CodeSigning.md :+1:

[2015-08-14 10:30] toshi0383 opened #30 "How do you pass xcconfig to gym ?"
This seems to not working.

[code]

[2015-08-14 10:40] KrauseFx commented on #30
Can you share the `xcodebuild` command you usually use?

[2015-08-14 10:41] ksm opened #31 "Gym should return path to xcarchive as Fastlane environment variable"
I'm configuring Fastlane to deploy beta builds to HockeyApp. HockeyApp optionally takes a dSym file, which I'd like to send in too.

Running `dsym_zip` with no parameters leads to an error that says "no implicit conversion of nil into String". I'm guessing that is because I use `gym` instead of `xcodebuild` or `xcarchive`.

Looks like `gym` doesn't play nice with `dsym_zip`. There is no documented

[2015-08-14 10:43] KrauseFx commented on #31
@ksm `gym` automatically generates a zipped `dsym` file for you. Doesn't the upload to Hockey work for you?

[2015-08-14 10:44] toshi0383 commented on #30
I was using ipa action. It has xcconfig option.

[code]

[2015-08-14 10:46] toshi0383 commented on #30
According to man-page of xcodebuild, you can ` -xcconfig filename` .

[2015-08-14 10:51] ksm commented on #31
Sorry, just noticed that `gym` does provide the `dsym`.

`hockey` takes both an `ipa` and a `dsym` path parameter. For `gym` I can specify an `output_name` for the ipa, but no output name for the dsym. `hockey` isn't seeing the dsym that gets built up by gym.

Looking into this still...

[2015-08-14 10:57] ksm commented on #31
If I remove the `output_name` parameter from `gym` and build with a default, then use `hockey` and not provide the `ipa` or a `dsym` the ipa gets uploaded successfully, but there is a warning:
`Symbols not found on path /Users/ksm/Desktop/myApp/myApp.app.dSYM.zip. Crashes won't be symbolicated properly`

[2015-08-14 11:00] KrauseFx commented on #31
Does the file exist at that path? If it doesn't, where is your `dSYM.zip` file?

[2015-08-14 11:07] ksm commented on #31
The `gym` action ends with this message:

[code]

The Format.ipa does then exist in the root directory of my project, but the `dSym.zip` file doesn't.

I don't know where the `dSym.zip` file is. The only mention of it is during the `gym` action:
[code]

[2015-08-14 11:13] ksm commented on #31
Seems like the `dSym` doesn't get moved out of Xcode's intermediate build directory. It's there along with a second `dSym` for the embedded framework that I have in my project (this may or may not be a relevant piece of information to you).

[2015-08-14 11:53] KrauseFx commented on #30
You can do that with the latest version https://github.com/fastlane/gym/releases/tag/0.3.0

[2015-08-14 11:53] #30 closed

[2015-08-14 11:53] KrauseFx commented on #30
:+1:

[2015-08-14 14:37] fatuhoku opened #32 "gym fails to find configuration that 'ipa' is able to find"
I tried to build something called Ad-hoc and got this error:

[code]

Needless to say, Ad-hoc is a legit configuration, defined at the project level.

[2015-08-14 14:59] KrauseFx commented on #32
Sorry about that, please update to `gym` 0.2.1, which should fix this issue :+1:

[2015-08-14 15:00] KrauseFx commented on #32
Sorry, I meant `0.3.1`

[2015-08-14 15:13] fatuhoku commented on #32
:+1: thanks for the prompt reply! It worked.

[2015-08-14 15:13] #32 closed

[2015-08-14 15:36] EricKuck opened #33 "Error packaging up the application (RuntimeError)"
I've always had great success building with shenzhen command, but gym hasn't been working for me at all (in versions 0.10 through 0.3.1). Running this command:
`gym -w "My App.xcworkspace" -s "My App"`

Results in this error:
`error: An application was not specified.`

For a little more background, here's the xcrun command it tries to run:
`/usr/bin/xcrun /tmp/PackageApplication4Gym -v '' -o '/Use

[2015-08-14 18:48] bencollier opened #34 "What's new URL wrong in update message"
Tiny issue, references KrauseFx instead of fastlane in the what's new URL:

[code]
Couldn't see where this is set (presume remote server) or would have done a PR.

- Ben

[2015-08-14 19:43] Liquidsoul commented on #31
It appears that building with `gym` and then calling `hockey` or `testflight` works properly. But calling `gym` generates the `ipa` file in the output directory without the `dSym` file.
I am using version `0.3.1`. I think this was also the case with version `0.2.1` because I run the same script this morning before updating to `0.3.0` today.

[2015-08-14 23:17] lyahdav opened #36 "Invalid WatchKit Support when submitting ipa generated by gym"
I got this email when using gym with deliver to submit an ipa to iTunesConnect:
[code]

[2015-08-15 05:14] toshi0383 commented on #30
👍👍

[2015-08-15 09:07] KrauseFx commented on #36
Thank you for reporting this, I forgot there is a manual step necessary to enable WatchKit support, `shenzhen` solves it using https://github.com/nomad/shenzhen/blob/master/lib/shenzhen/commands/build.rb#L125-L140

[code]

I'll work on a fix over the next few days :+1:

[2015-08-15 09:13] KrauseFx commented on #34
Thanks for letting me know, I'll update it with the next update :+1:

[2015-08-16 06:55] larryonoff opened #37 "gym output_directory"
I get the following error.
[code]

I assume that folder build should exist before gym is running. I think that it will be great if gym creates this directory by itself. Now I should create it manually.

[2015-08-16 17:27] KrauseFx commented on #37
I assume you also got this error message?
[code]
`gym` as it is now requires the output folder to be already available. Should it be created automatically if it doesn't exist?

[2015-08-16 17:46] larryonoff commented on #37
I think that directory should be created automatically since fastlane tools are for automation.

[2015-08-16 17:47] KrauseFx commented on #37
Agreed, I'll implement this for the next version - in the mean time add an `sh "mkdir .."` in your `Fastfile`

[2015-08-16 17:50] larryonoff commented on #37
Maybe there should be warning if directory isn't empty, but not an error. E.g. For the case when developer has some other files there.

[2015-08-17 11:24] KrauseFx commented on #31
Could you try the latest update of `gym` and `fastlane` and let me know if that resolves the problem?

[2015-08-17 11:38] angrauel commented on #36
:+1:

[2015-08-17 12:42] angrauel commented on #37
:+1:

I ran into the same issue and expected it's created by gym

[2015-08-17 16:34] ikovalisko commented on #33
Problem is with `PackageCommandGenerator.appfile_path` method. It doesn't search for `app` recursively: `Dir.glob("#{BuildCommandGenerator.archive_path}/Products/Applications/*.app").first`.

It should be done in the same way as `app.dSYM` search:
`Dir[BuildCommandGenerator.archive_path + "/**/*.app"].last`.

Surprisingly, after this fix tests are still green :). I'm not good at RSpec to cover thi

[2015-08-17 16:56] KrauseFx commented on #33
@EricKuck Could you update to the latest version and share the complete output when running `gym`?
@ikovalisko do you mean the resulting `.app` folder is not inside `/Products/Applications/`?

[2015-08-17 17:03] ikovalisko commented on #33
@KrauseFx No, it's not there. Here is generated and working command:
`/usr/bin/xcrun /tmp/PackageApplication4Gym -v '/Users/ikovalisko/Library/Developer/Xcode/Archives/2015-08-17/Fishka 2015-08-17 19.22.37.xcarchive/Products/Users/ikovalisko/Library/Developer/Xcode/DerivedData/Fishka-famgnrqilnavkkcvtzsycyzwagje/Build/Intermediates/ArchiveIntermediates/Fishka/BuildProductsPath/AdHoc-iphoneos/Fishk

[2015-08-17 17:19] KrauseFx commented on #33
@ikovalisko have you tested changing it to be recursive? Does it work then?

[2015-08-17 19:48] ikovalisko commented on #33
Yes, it works for me. Just needs unit tests to be added, because existing one doesn't handle this.

[2015-08-17 23:03] EricKuck commented on #33
I can confirm that the command @ikovalisko posted works for me too. My .app files are being placed in the same directory as his.

[2015-08-18 08:01] lacostej commented on #33
Does the archive validate ?

The path sounds very strange.
[code]
As if one concatenated
[code]
and
[code]

[2015-08-18 11:37] ikovalisko commented on #33
@lacostej yes, the app is signed and validated properly. I have also validated the archive from Organiser successfully.

[2015-08-18 11:37] ikovalisko commented on #33
Stil have no idea why the path looks like this :/

[2015-08-18 13:27] pmhood opened #42 "Specify path for xcarchive"
Hi, I've been looking all over for a way to specify a path to save the xcarchive - or at least get the path of it after it's built.  Is there a way to do this?  The reason I ask, is that I like to have Jenkins archive the artifacts and we typically archive the xcarchive so that I can re-export an IPA if the provisioning profiles expire.

Thanks!

[2015-08-18 13:31] KrauseFx commented on #33
I just pushed a new version of `gym`, could you try it? Let me know if that resolves this issue :+1:

[2015-08-18 13:36] KrauseFx commented on #42
The Ruby classes expose the path: https://github.com/fastlane/gym/blob/master/lib/gym/build_command_generator.rb#L78-L84

How do you use `gym`? Via the shell or via `fastlane`? If using `fastlane`, this would be something I could add to the `fastlane` integration of `gym`.

[2015-08-18 13:43] KrauseFx commented on #36
I just pushed a new version, which should fix this issue :+1:

[2015-08-18 13:43] #36 closed

[2015-08-18 13:48] KrauseFx commented on #37
Thanks again for the pull request @angrauel, this is now live with the latest version :+1:

[2015-08-18 13:48] #37 closed

[2015-08-18 13:50] KrauseFx commented on #28
@ellucianBret Thanks for submitting this issue. If you could post an example `xcodebuild` call of how you use it I can easily implement this as an built-in option of `gym` :+1:

[2015-08-18 13:58] pmhood commented on #42
I was hoping to use it via fastlane.

[2015-08-18 14:00] KrauseFx commented on #34
Okay, not the next update, but ASAP

[2015-08-18 14:01] KrauseFx commented on #42
If you only care about re-export when the profile expires: how about you just store the `ipa` file and resign it once you need it?

[2015-08-18 14:08] pmhood commented on #42
I was having some issues resigning IPA with WatchKit and Today extension, so I found that the re-exporting was easier.  I'm new to these tools, so I can try it again and see if everything gets signed appropriately.

[2015-08-18 14:11] KrauseFx commented on #42
@pmhood You're right, it's not easy to resign apps with WatchKit or other extensions: https://github.com/KrauseFx/sigh/issues/131

[2015-08-18 14:57] ikovalisko commented on #33
Updated to 0.3.3 and works like a charm :+1:

[2015-08-18 15:21] aimak opened #43 "deny-mmap error at app launch after building with gym"
Hello,

I encountered an issue after using gym. I managed to have a nice Gymfile, my project builds and everything looks good until I launch the app. Then, I get this error message in the device console :

I read a lot ([1](https://techblog.badoo.com/blog/2015/02/09/code-signing-and-distributing-swift/), [2](https://www.airsignapp.com/ios-apps-using-swift-crash-when-signed-with-inhouse-certificate

[2015-08-18 15:32] WinterKirk opened #44 "Invalid Swift Support on submission"
I used gym to compile one of my targets and it succeeds and incorporated the WatchKit extension correctly (as of this morning update). However when submitted to ITC, it was rejected as an invalid binary with the following message:

_Invalid Swift Support - The bundle contains an invalid implementation of Swift. The app may have been built or signed with non-compliant or pre-release tools. Visit de

[2015-08-18 16:08] antigp commented on #44
I am have the same problem without watch kit extension in my application.

[2015-08-18 17:08] ellucianBret commented on #28
I use the following in my fastfile:

sh 'cd .. && xcodebuild -archivePath "./build/Ellucian GO.xcarchive" -exportArchive -exportPath "./build" -exportOptionsPlist exportOptions.plist'

[2015-08-18 17:26] KrauseFx commented on #43
Which version of `gym` did you use to submit this version?

[2015-08-18 17:27] KrauseFx commented on #43
Probably related https://github.com/fastlane/gym/issues/44

[2015-08-18 17:27] KrauseFx commented on #33
Great to hear :+1:

[2015-08-18 19:20] aimak commented on #43
I used 0.3.2.
I have the same issue with two apps, but none of them has WatchKit extension.
One app has been built with latest stable Xcode version, the other has been built with Xcode 7b4, in case that can help.

[2015-08-19 08:28] KrauseFx commented on #33
I updated it to first try it the old way and fall back to the code you posted in case it can't be found:

https://github.com/fastlane/gym/commit/d86414b9afef0f1e45cedf27ac96df0f2d8297aa

as the fix introduced some issues with WatchKit enabled applications.

[2015-08-19 08:28] #33 closed

[2015-08-19 10:08] pvegh opened #46 "mobileprovision for gym configuration in Fastfile"
In Fastfile we used so far:
embed: "./example.mobileprovision",     # Sign .ipa file with .mobileprovision

Is there a way to tell gym to do the same?
I can see the -i or --codesigning_identity parameter but not quite sure how to say this in Fastfile

[2015-08-19 11:40] KrauseFx commented on #46
Sure
`gym --help`

[code]

So you can use the `provisioning_profile_path` option to pass the profile :+1:

[2015-08-19 11:43] lacostej opened #48 "Is there a way to hide some of the warnings"
Now that I got to see what a clean output is, I want more!

I have a project containing lots of generated code which unfortunately produces a lot of warnings.

[code]

[2015-08-19 11:51] KrauseFx commented on #48
I don't know, I noticed the same issue. I can't tell if it's related to `xcpretty` or the way I clear the line using `\r`

[2015-08-19 11:56] pvegh commented on #46
Oh, that. Works like a charm :)

[2015-08-19 12:33] KrauseFx commented on #46
Great to hear :+1:

[2015-08-19 12:33] #46 closed

[2015-08-19 12:34] KrauseFx commented on #44
I'm working on it, in particular https://github.com/fastlane/gym/pull/47

[2015-08-19 12:59] KrauseFx commented on #28
Thanks, I already started implementing it [here](https://github.com/fastlane/gym/pull/47) based on [this guide](http://www.matrixprojects.net/p/xcodebuild-export-options-plist)

Is that what you'd use it for, right? This should be built-in in `gym` and handled automatically, so that the user doesn't have to think about the XML file.

It's only working in Xcode 7 unfortunately, so I don't know yet

[2015-08-19 13:19] pvegh opened #49 "Ignore this"
My mistake, just ignore it.

[2015-08-19 14:58] ellucianBret commented on #28
That is the article that got me past the hurdle of not being about to export a valid ipa with watch kit in our app.

It probably does cause problems for Xcode 6. Either you need a switch in the Gymfile or have gym check the version of Xcode?

[2015-08-19 15:02] #49 closed

[2015-08-19 15:15] KrauseFx commented on #28
Yes, it's not working with Xcode 6. I'm currently thinking about how I should solve it, as most projects will still use Xcode 6

[2015-08-19 18:04] CraigSiemens opened #51 "Add Symbols folder to the ipa"
It would be great if there was an option to add the `Symbols` folder to the `ipa` just like Xcode does so crash reports from iTunes Connect can be symbolicated.

I have been using a `fastlane` action to do this but I think it would be good if it was part of `gym`. I only know enough Ruby to make me dangerous, but here is the action if anyone want to add it to `gym`.

[code]

[2015-08-19 18:47] atreat opened #52 "Missing Destination specifier in build command"
I'm getting the following error when running gym:

    xcodebuild: error: missing value for key 'platform' of option 'Destination'

I see the build command used is missing the parameter.

    set -o pipefail && xcodebuild -workspace './MyApp.xcworkspace' -scheme 'MyApp-Release' -destination 'generic/platform=' -archivePath '/path/to/MyApp.xcarchive' archive | xcpretty

The issue is because there i

[2015-08-19 18:48] #52 closed

[2015-08-19 18:49] atreat commented on #52
damn you're quick.

[2015-08-19 18:50] KrauseFx commented on #51
Thanks for the code, is that something you wrote? This will be possible once I found a way to finish https://github.com/fastlane/gym/pull/47, as it uses the built-in Xcode feature.

[2015-08-19 18:50] KrauseFx commented on #52
Ha, thanks, just uploading the new version right now :rocket:

[2015-08-19 18:53] CraigSiemens commented on #51
Yup, I wrote the `fastlane` action. I found out about the `symbols` command from [here](http://faq.sealedabstract.com/xcodeCI/#create-symbol-files-with-this-one-weird-trick).

[2015-08-19 18:54] KrauseFx commented on #52
You can now update, thanks for reporting. I'd ask for one information: could you run

[code]

and take a look if there is a `PLATFORM_DISPLAY_NAME` somewhere? If it's okay for you, you can share the complete output by sending it to githubfiles@krausefx.com :+1:

[2015-08-19 18:55] KrauseFx commented on #51
Thanks for sharing, I'll take a closer look over the next few days :+1:

[2015-08-19 20:02] ksm commented on #31
Ran my lane with `fastlane v1.18.0` and `gym 0.3.4`. Works. Thank you @KrauseFx. :sparkles:

[2015-08-19 20:02] #31 closed

[2015-08-19 21:25] hufkens opened #53 "Could not fetch PLATFORM_DISPLAY_NAME from project file: undefined method `split' for nil:NilClass"
After upgrading to the latest 0.4.1 version I get this error. I never saw it before and the ipa file is created.

[code]

[2015-08-19 21:31] shnhrrsn commented on #53
Seeing this as well on 0.4.1

[2015-08-19 22:02] samgreen commented on #53
+1

[2015-08-19 22:07] samgreen commented on #53
Resolved this issue by adding a user defined build setting

`PLATFORM_DISPLAY_NAME = iOS`

[2015-08-19 22:15] KrauseFx commented on #31
Yeah :rocket:

[2015-08-19 22:16] KrauseFx commented on #53
Thanks everyone for letting me know, I'm working on a fix :+1:

[2015-08-19 22:21] KrauseFx commented on #53
@hufkens @samgreen @shnhrrsn I need your help debugging this issue. Could you run the following command and share the output (feel free to send it via email to githubfiles@krausefx.com)

[code]

[2015-08-19 22:22] KrauseFx commented on #53
Or if you have a workspace:
[code]

[2015-08-19 22:22] KrauseFx commented on #53
Did I understand correctly, that the app is building fine, but you get the error message, right?

[2015-08-19 22:24] hufkens commented on #53
That's right. The ipad was built. I only get this message right at the start and at the end. I'm sending the log in a minute.

[2015-08-19 22:41] KrauseFx commented on #53
Thanks @hufkens, I just pushed a new version: https://github.com/fastlane/gym/releases/tag/0.4.2
Please let me know if that works for you :+1:

[2015-08-19 22:50] hufkens commented on #53
The error is gone.

Now I get a new error at the end for a workspace built project:

[code]

[2015-08-19 23:27] calebd opened #54 "Output is only .app and .app.dSYM.zip. Missing .ipa."
`gym build -w WORKSPACE -s SCHEME -o ~/Desktop` does not result in an exported IPA as the help page says it should. Only an app and associated dSYM. I had hoped to use `gym` to build something then use `pilot` to upload it.

[2015-08-19 23:27] calebd commented on #54
(Obviously I am not using `~/Desktop` in my production build scripts ... just for the sake of example.)

[2015-08-20 01:03] codigodelsur opened #55 "Crash when trying to use gym"
So I used gym to build my app once and it worked out of the box perfectly.

Then, I added a provisioning profile to the same directory as the .xcworkspace and the command now crashes (output bellow). If I take the provisioning profile out of that directory, it works again.

My intention was to use the 'provisioning_profile_path' parameter to specify the provisioning I want to  sign with.

Let me k

[2015-08-20 01:20] raven commented on #54
Same. It's not going on to perform the package application step.

[code]

[2015-08-20 01:53] vinnybad commented on #54
I'm seeing the same issue.

[2015-08-20 07:40] lacostej commented on #53
What happens is that as you don't define an output file name on the command line, gym supposedly searches for the WRAPPER_NAME variable from the -showBuildSettings output that krausefx asked earlier.

I added PR #56 to dump more information by default in verbose mode.

[2015-08-20 09:59] KrauseFx commented on #55
This will be fixed in the next release, thanks for letting me know :+1:

[2015-08-20 10:03] #53 closed

[2015-08-20 10:04] KrauseFx commented on #53
@hufkens Thanks, this will be fixed in the next release. In the mean-time you can pass the `output_name` option to set this value :+1:

[2015-08-20 10:06] KrauseFx commented on #54
That shouldn't happen, seems like `gym` thinks it's a mac application for some reason, expect a fix in a few minutes :+1:

[2015-08-20 10:10] KrauseFx commented on #54
I assume you're using the latest version of `gym`.

Could you run the following command and share the output (feel free to send it via email to githubfiles@krausefx.com)

[code]

Or if you have a workspace:
[code]

[2015-08-20 10:11] raven commented on #54
Sent through

[2015-08-20 10:13] KrauseFx commented on #54
@raven Thanks! Which version of `gym` do you run? `gym -v`

[2015-08-20 10:14] raven commented on #54
gym 0.4.2

[2015-08-20 10:15] hufkens commented on #53
Great. Keep up the good work!

[2015-08-20 10:18] raven commented on #54
Installed and verified gym 0.3.4 does create the .ipa for the same project.

[2015-08-20 10:22] KrauseFx commented on #54
Could you share the complete output when running `gym`? In particular there is one line that prints out `showBuildSettings`. Please manually run this line and make sure it's the same output you sent me @raven.

[2015-08-20 10:29] raven commented on #54
[code]

[2015-08-20 10:30] KrauseFx commented on #54
Thank you so much for your help! I found the issue and will push a fix in a few minutes :+1:

[2015-08-20 10:31] raven commented on #54
Legend 👍
Epic work btw!!!

[2015-08-20 10:40] KrauseFx commented on #54
I just pushed a new version https://github.com/fastlane/gym/releases/tag/0.4.3

Let me know if that works for you :+1: If it doesn't, you now see the detected platform in the build summary on the top.

[2015-08-20 10:50] raven commented on #54
👍 Fixed.

[2015-08-20 11:17] KrauseFx commented on #54
Yeah :rocket: @calebd @vinnybad could you confirm it works for you too? :+1:

[2015-08-20 13:21] vittoriom opened #57 "Not sure how to specify an xcconfig"
My `GymFile`:

[code]

and then in my `FastFile`:

[code]

`finalize` is a `private_lane` I created, so is `prepare`

The point is, that `gym` gives me this output:

[code]

And I can't see any `xcconfig` specified here. Am I missing something?

[2015-08-20 13:27] vittoriom commented on #57
Nevermind, I just saw that you're not printing the xcconfig in the summary. Maybe it could still be nice, though!

[2015-08-20 13:27] #57 closed

[2015-08-20 14:00] KrauseFx commented on #57
I don't want to have a crowded table, I want to focus on the most relevant information. Thanks for letting me know :+1:

[2015-08-20 17:34] calebd commented on #54
Works great! Thanks!

[2015-08-20 17:34] #54 closed

[2015-08-20 17:55] vinnybad commented on #54
Yes, it's fixed!  You're awesome, thank you!

[2015-08-20 18:07] RomainBoulay opened #58 "Run tests before archiving"
Hey,

First, thanks for building Fastlane ;) That's a really useful set of tools.

I'm using fastlane with travis-ci and that's working pretty great except for the duration of the entire flow. I have to install fastlane when the worker starts which takes some time. Of course you can't do anything about that, but I'm trying to improve the duration of the flow.

In the same lane I'm performing the u

[2015-08-20 20:39] meyskens opened #59 "error in swift_fix.rb"
I upgraded to the latest gym today (I was still on 0.1.0) and my build crashes on the Swift library:

[code]

[2015-08-21 04:30] alexargo commented on #29
I'm new to using fastlane.So what should the workflow be if you want to run unit tests and then build/submit to some beta service (Hockey,Testflight, whatever)

The way I'm doing this now, is essentially:
1.Use xctool to build and run tests (this will be a simulator build)
2.Use gym(ios device build) to build again and sign for distribution
3.Use deliver to submit

It's annoying and time intensive

[2015-08-21 04:33] alexargo commented on #29
Looks like there's another issue where someone is trying to solve the same problem: https://github.com/fastlane/gym/issues/58

@KrauseFx There's at least some confusion here... not sure how to stop the confusion or where the right place to put the real "Issue" at heart here. Maybe this is a feature request for fastlane?

[2015-08-21 05:22] angrauel opened #60 "Changing Plist information for specific configurations"
I'd like to set various plist information in the `gymfile` for a given configuration.
Do you agree that this belongs in `gym`?

[2015-08-21 08:14] KrauseFx commented on #59
Fixed thanks to @lacostej :+1: https://github.com/fastlane/gym/pull/61

This will be in the next release, in the mean-time, please don't use `--verbose` :wink:

[2015-08-21 08:16] KrauseFx commented on #29
@alexargo thanks for letting me know, I'll reply at https://github.com/fastlane/gym/issues/58 :+1:

[2015-08-21 08:20] KrauseFx commented on #58
Hey @RomainBoulay and @alexargo,

As far as I understand you can't just use the same build for both tests and the `ipa`, since these are 2 completely different targets: One is for the simulator, the other one for real devices. There are many more differences, like the pre-compiler flags.

There will be no way around building twice, once for testing and one for building and signing the `ipa`.

To y

[2015-08-21 08:24] KrauseFx commented on #58
https://github.com/fastlane/gym/commit/1b43b0805db20ea5b1401e8f0ed8a310fca6c6c6 :rocket:

[2015-08-21 08:25] KrauseFx commented on #60
Could you let me know how you'd have to modify the `xcodebuild` command to pass the plist information? Haven't done this myself before.

[2015-08-21 08:26] #59 closed

[2015-08-21 08:27] RomainBoulay commented on #58
@KrauseFx : I was expecting this answer :) I originally posted to hopefully find other leads of optimisation  but I think my current setup is correct, it's very similar to the one you posted as example.

Thanks for your answer! ;)

[2015-08-21 08:32] angrauel commented on #60
I don't modify the plist with `xcodebuild` I use `PlistBuddy` which lives in `/usr/libexec` on every mac machine. That's why I ask if you see this in gym, cause it's related to the configuration.

Use Case Example:
Alpha Build is distributed via Enterprise Certificate needs a different bundle identifier as the App Store Version. Most changes are possible via buildSettings but a few changes especia

[2015-08-21 08:33] KrauseFx commented on #58
Great to hear :+1:

[2015-08-21 08:33] #58 closed

[2015-08-22 17:57] mortenholmgaard opened #63 "Problems with gym, sigh and provisioning profile path"
When I build with `gym` it doesn't pickup the correct path to the provisioning profile, even when I call `sigh`just before it.
I could be something with the two commands calculating from different path roots:
Sigh exports to this dir:

And it seems to be looking here:

Without fastlane as a part of the path. Could it be a problem when output_path is set in sigh?

I have this code:

    cert(develo

[2015-08-23 07:54] KrauseFx commented on #63
Thanks for submitting this issue with so much relevant information :+1:

As seen on the variable dump:
[code]

I'm quite confused about this message in the `gym` integration
[code]

A note from my side:
Replace
[code]
with
[code]

[2015-08-23 07:55] KrauseFx commented on #63
Does the `gym` action raise an exception? If so, do you have an `error` block?

[2015-08-23 11:00] mortenholmgaard commented on #63
The message you were confused about, it could be related to it might be checking if the folder exists in the integration, and it didn't because it needs the `/fastlane` in the path - but that is just a guess.

When get SIGH_PROFILE_PATH from lane_context it get this which seems correct and the file exists at the path:

And this error from before:

I found the exception:

/Library/Ruby/Gems/2.0.0/g

[2015-08-24 09:46] oskarn97 opened #64 "Testflight Distribution: Cannot install app"
I already wrote you on twitter but I thought I would open an issue as well so you have a better overview.
If I build an app with gym, use deliver and submit it to Testflight Beta Testing, the App cannot be installed (both internal and external testers). My App contains an Apple Watch App as well (maybe that matters?!).

![cmxmtbnweaafk_z](https://cloud.githubusercontent.com/assets/1344990/9437267/

[2015-08-24 14:21] KrauseFx commented on #60
@angrauel What do you think about https://github.com/KrauseFx/fastlane/pull/531/files

[2015-08-24 18:50] #55 closed

[2015-08-24 18:53] bencollier opened #65 "SwiftSupport not correctly generated for Schemes / Product Names with spaces in them"
Just a small one that stumped us a for a while - if you've got a scheme or product name with a space in the swift_library_fix patch doesn't get applied - presume the detection fails.

Removing the spaces fixed it.

[2015-08-24 19:21] angrauel commented on #60
:+1:

[2015-08-25 07:27] #65 closed

[2015-08-25 07:28] KrauseFx commented on #65
Thanks, I just pushed a fix, could you give it a try once the new version is out there? :+1:

[2015-08-25 11:52] luisafonsoribeiro opened #66 "Gym creating IPA with "Invalid code signing entitlements""
Decided to update our Fastfiles to start using Gym and had some issues with it.
I did find solution but it would be nice to have it integrated into Gym.

This problem seems to happen when the team configured in the Xcode project doesn't match with the one I'm passing to the Gym using the `codesigning_identity` parameter. We identified the issue when uploading the IPA to ITC. It reported the follow

[2015-08-25 12:34] KrauseFx commented on #66
Thanks for letting me know. So If I add
[code]

as standard `xcargs` it should solve the issue?

[2015-08-25 12:42] lopesmcc commented on #66
(I am the creator of this issue. Was logged in my machine with the account of a colleague by mistake  :disappointed:)

Yes, worked in my case.

[2015-08-25 12:51] KrauseFx commented on #64
Yes, that's probably related to the  Watch. What did you use before? Does it work with [shenzhen](https://github.com/nomad/shenzhen)?

[2015-08-25 12:51] KrauseFx commented on #64
You can try `shenzhen` by using the `ipa` action in `fastlane`

[2015-08-25 13:21] oskarn97 commented on #64
No does not work using shenzhen either. If I build & submit it using Xcode it does work...

[2015-08-25 14:16] lopesmcc opened #67 "`destination` parameter value invalid when building for `iOS Simulator` platform"
When building something to run in the simulator, the default Gym `destination` value `generic/platform=iOS` is being set, which isn't valid for the `iOS simulator` platform.

Usually when I use `xcodebuild` to build for simulators, I do not have to specify a `destination` parameter, the `sdk` parameter is enough.

Would it be possible to not set the `destination` default value (`generic/platform=i

[2015-08-25 14:20] lopesmcc commented on #67
Also, unfortunately, I can't find a generic `destination` value for the `iOS simulator` platform, like the one for the `iOS` platform.

[2015-08-25 14:24] KrauseFx commented on #67
Why do you want to build for the simulator using `gym`? The main use case is to generate an `ipa` which can be distributed to the App Store or another beta testing service.

[2015-08-25 14:32] lopesmcc commented on #67
Yes, you are correct. I will end up only using the app file, which makes the usual `xcbuild` more than enough.
I just thinking it made the creation of the app a bit easier for me (I have some extra logic that Gym did for me), but in the end, It is probably better to keep it as it is.
I'll close the ticket.
Cheers.

[2015-08-25 14:33] #67 closed

[2015-08-25 18:36] Reedyuk opened #68 "Specify Gymfile"
At the moment, i want to have multiple gym files so that i have a different configuration for dev, ad-hoc and release.
Could you make it so that when i do gym i can specify a gymfile name e.g.
"gym devGymFile"
"gym adHocGymFile"

Thanks

[2015-08-25 20:19] mortenholmgaard commented on #63
@KrauseFx Will you have a look at this issue again? :)

[2015-08-25 21:37] KrauseFx commented on #68
I could add its own option for the `Gymfile`:
e.g.
[code]

What do you think?

[2015-08-25 21:51] Reedyuk commented on #68
Yeah that's perfect.

[2015-08-26 18:12] kylejm commented on #44
Also experiencing this without Watch Kit extension

Xcode 6.4
Swift 1.2
iOS 8

[2015-08-27 00:46] maxdisney commented on #42
+1 for triggering via fastlane

[2015-08-27 11:40] vittoriom opened #69 "Explicit provisioning_profile_path not used?"
I'm using `gym` to build an enterprise version of our app. Just for this task it should use an explicitly provided provisioning profile and code signing identity, that override the ones defined in the project.

I'm building with the `--verbose` flag since after the first try I saw that it was using the wrong (as defined in the Xcode project) provisioning profile instead, but it looks like the gene

[2015-08-27 17:48] aimak commented on #43
For the history :
I (well, @delannoyk) finally found a work around : we installed jenkins / xcode / xcode-beta / gym on a brand new machine. As it turned out, something was wrong with the first Mac Mini (my guess would be either a conflict with another xcode version, … ?) and we cleared it out.

Every of our builds work perfectly now.

[2015-08-27 17:48] #43 closed

[2015-08-28 10:28] KrauseFx commented on #68
This is something I want to implement over the next few weeks. In the mean-time you can either store the `Gymfile` in different directories or pass values using environment variables.

[2015-08-28 10:41] KrauseFx commented on #69
It should be used in this command

[code]
but it looks like only the code signing identity was added.

I'll need to take a closer look on why this isn't set. I assume you're using `gym 0.4.5`?

[2015-08-28 10:45] Reedyuk opened #70 "Show provisioning profile and cert used"
A nice to have, when you use the Xcode build command then it outputs the cert and provisioning profile.
Could you make it so that gym does this, as when I view the build logs, I can see historically what was used.

[2015-08-28 10:45] vittoriom commented on #69
Yes, I'm using `gym 0.4.5`.

Eventually I went with the `$(PROFILE_UDID)` solution described in the `Advanced.md` file, but I would like to be able to set the provisioning profile in Xcode and only override it in gym for the special case I need.

Thanks!

[2015-08-28 11:16] KrauseFx commented on #70
You mean this should be displayed right before building the application in the table summary? I like the idea :+1:

[2015-08-28 11:17] KrauseFx commented on #70
This could even be part of all the other tools. What do you think?

[2015-08-28 16:47] mmajewski opened #71 "Custom output_name variables"
It would be nice if I could add to output_name number of build. In my script from build phases it was getting by line buildNumber=$(/usr/libexec/PlistBuddy -c "Print CFBundleVersion" "$INFOPLIST_FILE")

Then, in gymfile:
output_name "MyApp_v{build}"
or something like that.

What do yout think about this?

[2015-08-28 17:17] Reedyuk commented on #70
Yeah I think so, most of my broken builds are usually down to provisioning profile errors, so it's handy to know what is being used.

[2015-08-28 17:22] Reedyuk commented on #71
I think it should take the bundle version and build number and append that to the table that gets drawn when building.
There is a table that mentions the appname.app in the output so maybe it would be appname.app bundle version build number.

[2015-08-29 08:46] KrauseFx commented on #70
I like the idea, thanks @Reedyuk :+1:

[2015-08-29 17:56] toshi0383 opened #72 "Action 'gym' doesn't support required operating system 'mac'."
On Fastfile I have this. This is a Mac app.
[code]

`fastlane mac deploy --trace` gave me this.
[code]

[code]

[2015-08-29 18:38] #72 closed

[2015-08-29 18:41] toshi0383 commented on #72
thanks !
I encountered the same issues on `snapshot` action and `sigh` action.
Are those supposed to ?

[2015-08-29 18:42] KrauseFx commented on #72
Thanks, I just pushed a fixed, you can already update `fastlane` :rocket:

[2015-08-29 18:43] KrauseFx commented on #72
`snapshot` and `sigh` currently only work for iOS apps.

[2015-08-30 18:26] oskarn97 commented on #64
Any progress on this? This is how Xcode does the code signing...

<img width="582" alt="bildschirmfoto 2015-08-30 um 20 25 36" src="https://cloud.githubusercontent.com/assets/1344990/9568797/6916419a-4f55-11e5-86c7-2cc54f3c4e14.png">

[2015-08-31 14:45] atreat commented on #52
sorry I've been out of the country and haven't checked my github inbox. I'll check on this today.

[2015-08-31 15:44] atreat commented on #52
Ok just sent a file over to you with the build settings. I didn't see `PLATFORM_DISPLAY_NAME` in the output.

[2015-09-01 20:14] marcelofabri opened #73 "'keychain-access-groups' has value not permitted by provisioning profile"
I've updated my Fastfile to use `gym` instead of `xcarchive` and `xcodebuild`, but I'm seeing this error when installing:

[code]

I've checked and the embedded provisioning profile is exactly the same as the previous one.

[code]

`PackageApplication4Gym` is being called with `--embed` and ``--sign`` (so it shouldn't be the same issue as #69).

This is an enterprise build, if that matters.

[2015-09-03 11:46] vCrespoP opened #74 "Gym not using bundle identifier automatically?"
Hi again dear Krause,

I have this code like this:
[code]

But gym asks me to select a provisioning profile, which makes the automated process break if I don't always use "sigh" first and export that to env varaible (which I don't know if it will ever happen, but just in case).

Could this be automatically done by obtaining the bundle identifier in some way if not? This would make lanes even more

[2015-09-03 17:00] KrauseFx commented on #74
Sure thing, check out the code signing guide: https://github.com/KrauseFx/fastlane/blob/master/docs/CodeSigning.md

Basically you can set the provisioning profile statically in your project file to not have to specify it when using `gym`

[2015-09-04 01:14] Gurpartap opened #75 ".diff path not wrapped in quotes ("Error packaging up the application")"
I get that error after it had successfully built the project. `--trace` led to a command that didn't have the path wrapped in quotes (one of my directories had a space in it).

https://github.com/fastlane/gym/blob/bfe60852fb58fd02d9b92fddc55be6530bbfc51d/lib/gym/xcodebuild_fixes/package_application_fix.rb#L31

The fix:

[code]

[2015-09-04 01:48] #75 closed

[2015-09-04 01:53] KrauseFx commented on #75
Thanks for reporting, I fixed it and pushed a new version :rocket:

[2015-09-04 01:54] Gurpartap commented on #75
:muscle:

[2015-09-04 09:17] kylejm commented on #44
@KrauseFx I think this one can be closed. I can submit with a build from Gym now. It's so much faster than Shenzhen! Great job!

[2015-09-04 09:48] iv-mexx commented on #44
I can confirm, I was able to build (with gym) and submit (with pilot) to the AppStore yesterday without that error.

[2015-09-04 16:44] KrauseFx commented on #44
Yeah, great to hear, thanks everyone! :+1:

[2015-09-04 16:44] #44 closed

[2015-09-04 16:44] KrauseFx commented on #44
@iv-mexx Yeah, Austria :facepunch:

[2015-09-04 18:13] iv-mexx commented on #44
:facepunch:

[2015-09-08 19:22] mortenholmgaard commented on #63
@KrauseFx Will you have a look at this issue again? :)

[2015-09-08 20:10] marcelofabri commented on #73
Setting `CODE_SIGN_IDENTITY` in `xcargs` (as mentioned in #66) made the trick.

[2015-09-10 01:34] KrauseFx commented on #63
Yes, so for some reason not the full path to the provisioning profile is passed from the `sigh` action. Maybe this is related to the output path you specified. Could you try remove the `output_path` value from the `sigh` action and check if it works?

[2015-09-10 22:48] romk1n opened #77 "gym ignores configuration flag when doing archive name"
Hi,

Something weird is happening. We want to use fastlane and trying to get `gym` working with multiple `schemes` and `configurations`. Every configuration has it's own `bundleid`. If i build or archive using Xcode everything is fine and archive name is after the scheme. However when using gym the archive name is after `Release` configuration.

After a bit of digging i figured out that Xcode Sett

[2015-09-12 20:22] codebreaker01 opened #80 "Invalid Bundle Structure for watchkit"
@KrauseFx  Hey Krause!

I encountered this issue when using gym for my app. I am able to upload the archive created by gym to iTunes Connect via the Organizer. I am assuming this has to do something the way the ipa is packaged in gym.
Also, I am getting code signing for my Today extension even though its working via Organizer.

Deliver error message
[code]

Here is my Fastfile.

[code]

[2015-09-13 15:32] mortenholmgaard commented on #63
Thanks - I found the source of the problem after trying your suggestion.
I was overriding the path in my setup:

[2015-09-13 15:32] #63 closed

[2015-09-14 16:36] #42 closed

[2015-09-14 21:34] djtarazona opened #81 "iOS 9 Invalid Swift Support"
Has anyone been able to successfully submit a build to iTC / TestFlight for iOS 9 with `gym`?  I'm using Xcode 7 GM (along with El Capitan GM) and every time I submit my binary, I get an email with the following:

It seems like a lot of other people are having the same issue, so this probably isn't an issue with `gym`.  But I'm hoping some workaround can be added to `gym` in the meantime.

These l

[2015-09-14 21:43] djtarazona commented on #81
No luck with archiving and uploading directly from Xcode. :(

[2015-09-15 14:37] Killectro commented on #81
@djtarazona I'm not on ElCap but I was able to use the latest version of `gym` to submit a working TestFlight build with the Xcode 7 GM installed (but it was almost double the size it normally is). This potentially could be related to #79 and [this issue](https://github.com/KrauseFx/fastlane/issues/519) but I would leave it up to @KrauseFx to clarify that.

[2015-09-16 03:46] kdawgwilk opened #82 "xctest action fails with custom output dir when build/reports dir does not exist"
Kept failing and then after I created the directory it worked
[code]
Here is the trace:
[code]

[2015-09-16 08:02] carlossless commented on #80
:+1: having the exact same problem.

[2015-09-16 14:38] dtrenz commented on #69
I'm seeing the same thing. It appears that `gym` ignores the `provisioning_profile_path` option when archiving.

[2015-09-16 17:07] KrauseFx commented on #81
Could you update to `gym 0.5.0` https://github.com/fastlane/gym/releases/tag/0.5.0 and let me know if that resolves this issue?

I'm also working on a new version of `gym` to use the Xcode 7 API for code signing.

[2015-09-16 17:07] KrauseFx commented on #80
Could you update to `gym 0.5.0` https://github.com/fastlane/gym/releases/tag/0.5.0 and let me know if that resolves this issue?

I'm also working on a new version of `gym` to use the Xcode 7 API for code signing.

[2015-09-16 17:08] KrauseFx commented on #34
This is fixed now :+1:

[2015-09-16 17:08] #34 closed

[2015-09-16 17:08] KrauseFx commented on #28
Working on this, thanks again for letting me know, I'll close this issue for now

[2015-09-16 17:08] #28 closed

[2015-09-16 17:09] #60 closed

[2015-09-16 17:10] KrauseFx commented on #69
It seems like it's working for me. Could you try using the latest version and show the complete output while running `gym`, including the generated commands?

[2015-09-16 18:37] dtrenz commented on #69
Fastfile:
[code]

Output:
[code]

[2015-09-16 21:52] codebreaker01 commented on #80
@KrauseFx Updated to the latest version. Still getting the same error.

[2015-09-17 01:30] djtarazona commented on #81
I updated to `gym 0.5.0` but no luck. :(

I also tried archiving and uploading directly from Xcode and got the same error.  This is using Xcode 7 build 7A220 now (released today).

[2015-09-17 15:16] ovuncmetin opened #84 "Changing Scheme Name"
Hi,

Can I change the schema name with gym or add PRODUCT_NAME that i can use with xcodebuild?

Thanks.

[2015-09-17 16:35] efpies opened #86 "No support for Xcode variables?"
In my post-build action I have Run Script which uses `$BUILT_PRODUCTS_DIR` and `$INFOPLIST_PATH` variables. However, when `gym` runs this script (or you do it manually), it fails, because it can't resolve these variables.

So I wonder if there will be any support for this in future.

[2015-09-17 16:52] KrauseFx commented on #84
You mean similarly to https://github.com/fastlane/gym/issues/60?

If so, you can use those newly added `fastlane` actions: https://github.com/KrauseFx/fastlane/pull/531/files

[2015-09-17 16:54] KrauseFx commented on #86
Sure, as far as I know those are just standard environment variables, so you can set them like this:

BUILT_PRODUCTS_DIR="value" INFOPLIST_PATH ="123" gym

[2015-09-17 16:56] KrauseFx commented on #81
Please subscribe to [this pull request](https://github.com/fastlane/gym/pull/83) to be notified once I'm finished implementing the new Xcode 7 API.

[2015-09-17 16:56] KrauseFx commented on #80
Please subscribe to [this pull request](https://github.com/fastlane/gym/pull/83) to be notified once I'm finished implementing the new Xcode 7 API.

[2015-09-17 19:40] mdeandreis opened #87 "The following build commands failed: PhaseScriptExecution Run\ Script status: 65"
I´m running fastlane beta to upload a new version to iTunes Connect and Crashlytics using Jenkins
Here is the console output.

[code]

Thanks,
Martin

[2015-09-17 19:44] efpies commented on #86
Well, I can hardcode these, but it doesn't seem like a good solution for me. So I tried to find out if there any way to substitute them in runtime.

However, providing `Build` directory to `OBJROOT` and `SYMROOT` in `Gymfile` (`xcargs "OBJROOT=$(PWD)/build SYMROOT=$(PWD)/build"` in my case) helped to solve this problem.

[2015-09-17 19:47] KrauseFx commented on #86
Perfect :+1:

[2015-09-17 19:47] #86 closed

[2015-09-17 19:48] KrauseFx commented on #87
Does it work when running `gym` without Jenkins? How did you install and run Jenkins? Using homebrew?

[2015-09-17 19:56] mdeandreis commented on #87
Yes, if I navigate to fastlane folder and run:
fastlane beta increment_build_number:true increment_version_number:false upload_to_testflight:true upload_to_crashlytics:true scheme:"PepTest" description:"Description", everything works fine.

Here is my fastlane file:
platform :ios do

  before_all do
    # ENV["SLACK_URL"] = "https://hooks.slack.com/services/..."

    # cocoapods
    #gym # Build y

[2015-09-17 20:00] mdeandreis commented on #87
I run java -jar jenkins-cli.jar -s http://localhost:8080 build ios_build_and_upload -p increment_build_number=true -p increment_version_number=false -p upload_to_testflight=false -p upload_to_crashlytics=false -p scheme="PepTest" -p description="Description" on my Mac with my user and Jenkins is configured in another user called jenkins_pep. The jenkin´s job is ios_build_and_upload

[2015-09-17 20:01] KrauseFx commented on #87
In your command you never run `fastlane`. Or is this only how you start Jenkins?

[2015-09-17 20:03] mdeandreis commented on #87
In my job,  I run fastlane throw shell command. Here is my code:

#!/bin/bash -l

export PATH=/usr/local/bin:$PATH
cd $WORKSPACE
fastlane beta increment_build_number:$increment_build_number increment_version_number:$increment_version_number upload_to_testflight:$upload_to_testflight upload_to_crashlytics:$upload_to_crashlytics scheme:$scheme description:$description

if [ "$increment_build_number"

[2015-09-17 21:15] codebreaker01 commented on #80
@KrauseFx Sure. Thanks!

[2015-09-18 18:38] ldiqual commented on #81
@djtarazona See https://github.com/CocoaPods/CocoaPods/issues/4188#issue-106748634 for two possible workarounds

[2015-09-18 19:54] KrauseFx commented on #81
I just pushed https://github.com/fastlane/gym/releases/tag/0.6.0, please update using `sudo gem update gym` and let me know if that works for you :rocket:

[2015-09-18 19:54] KrauseFx commented on #80
I just pushed https://github.com/fastlane/gym/releases/tag/0.6.0, please update using `sudo gem update gym` and let me know if that works for you :rocket:

Also, make sure to set the path to the new Xcode 7 using `xcode-select`

[2015-09-18 19:55] KrauseFx commented on #81
Also, make sure to set the path to the new Xcode 7 using `xcode-select`

[2015-09-18 20:22] KrauseFx commented on #51
I just pushed https://github.com/fastlane/gym/releases/tag/0.6.0, this is now built-in into `xcodebuild`, could you give it a try?

[2015-09-18 20:27] CraigSiemens opened #88 "Support for boolean flags"
**Done**:

It is my understanding that `gym` is for building an app and `deliver` is for uploading it. It seems a little confusing to name the new options `upload_symbols` and `upload_bitcode` when nothing is being uploaded. I know it's the name `xcodebuild` uses but hopefully `gym` can be better than that :wink:.

What is really happening is the symbols and bit code are being included in the IPA,

[2015-09-18 20:36] KrauseFx commented on #88
Great idea, I'll push an update immediately! :rocket:

[2015-09-18 20:36] KrauseFx commented on #88
About boolean: not as simple, but will take a look

[2015-09-18 20:48] KrauseFx commented on #88
Done https://github.com/fastlane/gym/releases/tag/0.6.1

[2015-09-18 20:50] CraigSiemens commented on #88
That was fast! Thanks! :smiley:

[2015-09-18 20:55] KrauseFx commented on #88
I updated your original title + issue to be about the support for boolean parameters.

[2015-09-18 22:36] CraigSiemens commented on #88
Also, when setting those values in a `Fastfile` it throws an error if you pass booleans, it's looking for strings.

[code]

[2015-09-18 22:41] KrauseFx commented on #88
Thanks, just pushed a commit fixing this, will be in the next release

[2015-09-18 23:06] lemonkey commented on #88
+1

[2015-09-19 09:55] czechboy0 commented on #12
:cry:

[2015-09-19 15:09] SpacyRicochet opened #89 "Xcode 7 export archive error"
I'm trying to build a ad hoc version. After upgrading to Xcode 7, my fastlane setup gives me the following error during `gym`:

[code]

The only reference I can find to this on the inter webs is to a now lost Apple Dev Forums discussion. Anyone else have an idea?

[2015-09-19 19:01] SpacyRicochet commented on #89
While I don't understand why the command expects `{}` instead of a string, I see that the value `app-store` is hardcoded instead of, for example, `ad-hoc`, as mentioned in `xcodebuild -help`.

Shouldn't this be dynamic, depending on the type of build?

[2015-09-20 02:59] djtarazona commented on #81
@KrauseFx No luck still. Exactly same error / email from Apple. :(

[2015-09-20 03:30] KrauseFx commented on #89
Very good point. I don't think there is an automatic way to detect the type, so this should be a user parameter.

[2015-09-20 03:35] KrauseFx commented on #81
@djtarazona and when you build and export using Xcode you don't get this error message?

[2015-09-20 03:36] KrauseFx commented on #12
Sorry @czechboy0, didn't have the time to focus on this yet. Are you waiting for it to work on a better integration of Xcode server with `fastlane`?

[2015-09-20 03:53] djtarazona opened #90 "Code signing fails for Enterprise distribution"
I'm not sure what happened or at what `gym` version this broke in, but building for Enterprise distribution now fails when using `gym` with `fastlane`.

[code]
I am also using `sigh` with `fastlane` and have code signing set up as [recommend](https://github.com/KrauseFx/fastlane/blob/master/docs/CodeSigning.md#best-solution-using-environment-variables) (using `$(PROFILE_UDID)`).

Here is there rel

[2015-09-20 04:07] KrauseFx commented on #90
Thank you so much for your very detailed report. Could you try updating to the latest `gym` and use the new option:

[code]

or in your `Fastfile`

[code]

More information: https://github.com/fastlane/gym/releases/tag/0.7.0

[2015-09-20 04:07] KrauseFx commented on #89
I just pushed https://github.com/fastlane/gym/releases/tag/0.7.0 let me know what you think

[2015-09-20 04:20] djtarazona commented on #81
@KrauseFx No I still get the error message when building and exporting (or rather uploading via Organizer's `Upload to App Store...` button).

This [appears to be an issue with Cocoapods](https://github.com/CocoaPods/CocoaPods/issues/4188), therefore I'm not sure if its appropriate for `gym` to address?  I've [opened a PR](https://github.com/CocoaPods/CocoaPods/pull/4221) that fixes the issue for

[2015-09-20 04:21] irons commented on #12
FWIW, I consider exporting IPAs from archives to be table stakes for a build workflow.

Compiling one's appstore and adhoc IPAs separately can work out if you're vigilant, but redundant compilations are just an opportunity to introduce discrepancies. Once I realized that the tools give us the ability to test exactly the same binary that we're sending off to Apple, there was no going back.

Testfli

[2015-09-20 04:30] KrauseFx commented on #89
I don't know how to solve the original issue, but there is a radar for that https://openradar.appspot.com/radar?id=4952000420642816

[2015-09-20 04:32] phatblat commented on #89
I'm getting that same message in a project using plain xcodebuild.
http://openradar.appspot.com/radar?id=4952000420642816

[2015-09-20 04:32] phatblat commented on #89
So, not an issue with gym, but rather with xcodebuild

[2015-09-20 04:35] djtarazona commented on #90
Wow that was fast @KrauseFx! :rocket:

Unfortunately I'm still getting an error, but it is different now:

[code]

Also, it may be worth mentioning that the archive is NOT is not added to Organizer anymore (previously, even though `gym` failed, I was still able to find the archive in Organizer).

I'm still building with Fastlane, therefore the revalant part of my `Fastfile` now looks like this:

[

[2015-09-20 04:41] KrauseFx commented on #90
[code]

Does building + exporting work with Xcode?

[2015-09-20 04:50] djtarazona commented on #90
Yes, archiving and exporting works in Xcode.  Note that when I export from the Organizer, I get this Device Support screen.

<img width="582" alt="screen shot 2015-09-19 at 9 48 35 pm" src="https://cloud.githubusercontent.com/assets/337986/9979255/5cdaa9b6-5f18-11e5-9af6-7946a4d11750.png">

I'm not sure if that has anything it do with the `No applicable devices found.` error?

[2015-09-20 05:00] djtarazona commented on #90
@KrauseFx This may help: https://forums.developer.apple.com/thread/13446

[2015-09-20 05:10] KrauseFx commented on #90
You mean `compileBitcode` must be set to `NO` in the case of enterprise profiles?

[2015-09-20 05:11] KrauseFx commented on #90
That's what I'm doing right now

[code]

[2015-09-20 05:13] djtarazona commented on #90
It looks like that may be the case. At least according to the `xcodebuild --help` documentation:

But I tried manually editing the plist file adding a `compileBitcode` key:

[code]

And it still didn't work when I re-ran the command:

[code]

[2015-09-20 05:56] SpacyRicochet commented on #89
@KrauseFx: 0.7.0 works well, except that it still doesn't build.

While gym in isolation probably can't figure out what the type of build is, it should be able to make an educated guess when it's a part of a lane. For example, when I create and provide an 'ad-hoc' profile with sigh, gym can be fed the 'ad-hoc' option.

With enterprise it could be more difficult, since you would have to read the ac

[2015-09-20 05:56] SpacyRicochet commented on #89
About the bug; since it's an xcodebuild issue, how are people currently creating Xcode 7 archives with `gym`? Using GMs, or just by omitting the entire exportOptionsPlist?

[2015-09-20 05:58] djtarazona commented on #90
It's interesting that the `IDEDistributionThinningStep` is failing.  I even tried added `<none>` for the `thinning` key.  No dice. :(

[code]

Oh Apple... is there

[2015-09-20 07:28] djtarazona commented on #90
Okay, after digging and digging into the log files in the `*.xcdistributionlogs` folder, I found that the export was failing after invoking `/Applications/Xcode.app/Contents/Developer/usr/bin/ipatool '/var/folders/yc/hkdr9bt97nvfshd494n3lm940000gn/T/IDEDistributionThinningStep.N3Y' '--json' '/var/folders/yc/hkdr9bt97nvfshd494n3lm940000gn/T/ipatool-json-filepath-Ja1' '--info' '--toolchain' '/Applic

[2015-09-20 08:45] czechboy0 commented on #12
@krausefx It's not technically blocking me, I'm just afraid to keep exporting the ipa with a manual script with all the changes going on lately (I'd like to know that once I use gym for exporting you guys will make sure that works properly).

But also, with the exporting command it will be much easier workflow to follow for anyone using a different CI (like Xcode Server) for archiving but still wa

[2015-09-20 17:59] KrauseFx commented on #12
@czechboy0

What do you mean?

There was one major change a few days ago, since I wanted to use the new Xcode 7 API for exporting ipa, solving all kinds of signing, WatchKit and Swift issues.

[2015-09-20 18:04] KrauseFx commented on #89
@SpacyRicochet Good point, the easiest way is to re-use the option that is used in `sigh`, as the user specifies the profile type.

It's working great on my machine, also you and @phatblat were to only ones reporting this issue (maybe that's because it's weekend)

If more people run into this issue it might make sense to add a flag to disable the new method of exporting `ipa` files and fallback to

[2015-09-20 18:04] KrauseFx commented on #90
Very interesting, thanks for taking a closer look. I'm using both `rvm` and `rbenv` on 2 different Macs and it has been working on both machines.

I'm glad you found a way to get it working! :rocket:

[2015-09-20 18:39] czechboy0 commented on #12
What I meant is that currently I'm using `sh "/usr/bin/xcrun -sdk iphoneos PackageApplication -v '#{app_path}' -o '#{ipa_absolute_path}' exportFormat ipa"` but I know that's not the best way - so that's why I'd prefer to just use `gym` for that.

[2015-09-20 21:20] djtarazona commented on #90
@KrauseFx Do you have the `cfpropertylist` and `sqlite3` gems installed in your `rvm` environment?  If you do, I suspect it would work fine.

I guess you can consider this issue closed now.  Unless you have a way of forcing `xcodebuild` / `ipatool` to run under the system Ruby always?

[2015-09-20 21:45] marcelofabri commented on #90
@djtarazona I think that forcing them to use system Ruby is not the right call. Probably it's better to add `cfpropertylist` and `sqlite3` to [`gym.gemspec`](https://github.com/fastlane/gym/blob/master/gym.gemspec).

[2015-09-20 22:22] djtarazona commented on #90
@marcelofabri Ya I thought about that. My concern is that Apple's `ipatool` may expect the specific system Ruby version or something. I had enough difficultly getting the `sqlite3` gem working properly with Ruby 2.1.3.

[2015-09-21 06:37] masa-beheim commented on #90
I was running into the same issue ("No applicable devices found."). `rvm system` did the trick for me too. Thank you @djtarazona !

[2015-09-21 06:55] xfreebird opened #92 "Why using PackageApplication4Gym ?"
Why isn't ```xcodebuild -exportArchive``` used instead of ```PackageApplication4Gym``` for Xcode < 7 ?

[2015-09-21 07:46] SpacyRicochet commented on #89
I might have found a clue; it's currently not possible to build an appropriate archive with Xcode's 'Archive' option either. Because I recently switched from using embedded frameworks in CocoaPods to not doing that (iOS 7 support), it might still have some kind of headers stuck at `public` which will kill the archives.

Will create a new project setup and report back on whether that fixes the issu

[2015-09-21 08:48] SpacyRicochet commented on #89
@phatblat

[2015-09-21 09:00] SpacyRicochet commented on #89
Fixed the `method = {}` issue by removing cocoa pods 0.39.x beta and installing the stable 0.38.2 version instead. After that, I did a fresh 'pod install' and archiving now works with Xcode. Gym now fails on other issues instead :)

[code]

[2015-09-21 12:20] staminajim commented on #89
Chiming in that this has started happening to me after upgrading from fastlane 1.26.0 to 1.27.0.  The gym dependency updated from 0.5.0 to 0.7.0.

No change in the Xcode installation (Xcode 7 final).

I'll see if I can pin it down to the fastlane core or gym update.

[2015-09-21 12:25] SpacyRicochet commented on #89
Extra tidbits;

* One of the suggestions from the 'Xcode 6 is new' era was to make a new project file and to rebuild the entire project. Done that, but it still gives me the same issue.
* Xcode's Archive options works perfectly, though it gives me a humongous file (42MB, as opposed to fastlane's 8MB).

[2015-09-21 12:54] xfreebird opened #93 "Xcode 6.4 Mac project destination set to iOS"
In ```detect_values.rb``` ```detect_platform``` method will always detect a ```Mac``` project as ```iOS``` when using Xcode 6.4.
This is because in the output of ```xcodebuild -showBuildSettings``` ```PLATFORM_DISPLAY_NAME``` is not present in output of Xcode 6.4

Works as expected with Xcode 7.0

How to reproduce:
[code]

[2015-09-21 13:02] staminajim commented on #89
Probably expected since gym 0.6.x is when the archive export feature changed but:

fastlane 1.26.0 + gym 0.5.0 = OK
fastlane 1.27.0 + gym 0.6.2 = exportOptionsPlist error.

If you anyone needs to pin your gems until this is resolved.

[2015-09-21 13:05] xfreebird opened #94 "Gym and xcodebuild -showBuildSettings"
By default gym is calling ```xcrun xcodebuild -showBuildSettings -scheme 'DemoApp' -project './DemoApp.xcodeproj'``` to get all environment variables.

But those will not reflect the correct values, because the actual executed command will be:

[code]

This will change the some variables in the simple use cases, and a lot in cases when user is using additional xcodebuild arguments. For example ```

[2015-09-21 13:23] xfreebird opened #95 "Using Xcode < 7.0 and multiple gym instances may corrupt PackageApplication script"
When multiple instances of ```gym``` executed concurrently with Xcode < 7.0 it may corrupt the original ```PackageApplication``` script and fail the build.

This will happen because there is no access control on PackageApplication script. And ```PackageApplication4Gym``` is always created to ```/tmp/PackageApplication4Gym``` and it might be deleted by other instance.

Don't use multiple instances

[2015-09-21 15:42] dev-mush commented on #89
Unfortunately, updating the gym gem to the latest I'm having the same problem that @SpacyRicochet is having.

[2015-09-21 16:50] KrauseFx commented on #92
Because there is no `exportPlist` option available and therefore doesn't properly sign and package your application. We had some issues, maybe @fabiomassimo has more information about why we switched.

[2015-09-21 16:53] KrauseFx commented on #95
How about we go for a very simple solution and just don't delete the file after running `gym` and don't create a new one when a file already exists? :+1:

[2015-09-21 16:53] KrauseFx commented on #95
I'll implement this

[2015-09-21 16:53] fabiomassimo commented on #92
Older version of Xcode (< 7)were shipped with a Perl script responsible to export an archive (`PackageApplication`) that required some patches.

In new Xcode 7 thanks to `exportPlist` option this is not required anymore.

[2015-09-21 16:55] #95 closed

[2015-09-21 16:55] KrauseFx commented on #95
Done :+1:

[2015-09-21 16:56] KrauseFx commented on #89
Are you using enterprise distribution?

Possibly related https://github.com/fastlane/gym/issues/90#issuecomment-141891381?

How does your Ruby environment look like? System Ruby, `rbenv` or `rvm`?

[2015-09-21 17:06] codebreaker01 commented on #80
@KrauseFx Its working now. Thanks a lot! Will close the issue.

[2015-09-21 17:06] #80 closed

[2015-09-21 17:16] mdeandreis commented on #87
I was working in this issue and I found that Crashlytics/Fabric is the problem. I have a script on build phases to run Fabric. If I remove the script everything works fine. I have installed the latest version of Fabric. Do you have any idea?

[2015-09-21 17:19] xfreebird commented on #95
Wow that was fast 🚀 !

[2015-09-21 17:21] xfreebird commented on #92
Thanks ! I wasn't aware of that, always used ```exportArchive```.

[2015-09-21 17:21] #92 closed

[2015-09-21 17:39] sp3esu commented on #89
Hi @KrauseFx.
I think I have same issue:

2015-09-21 19:22:53.505 xcodebuild[25965:1541484] [MT] IDEDistribution: -[IDEDistributionLogging _createLoggingBundleAtPath:]: Created bundle at path '/var/folders/n6/lqq5qmn93rd0h25t920csb280000gn/T/APP_NAME_WAS_HERE_2015-09-21_19-22-53.505.xcdistributionlogs'.
error: exportArchive: exportOptionsPlist error for key 'method': expected one of {}, but found

[2015-09-21 17:55] staminajim commented on #89
@KrauseFx I'm not using enterprise distribution, and using bundler with system ruby.

[2015-09-21 17:59] KrauseFx commented on #80
Great to hear :rocket:

[2015-09-21 18:03] SpacyRicochet commented on #89
@dev-mush Are you having the `method {}` issue or the entitlements issue? We probably should separate the issues.
@staminajim Can you perform a normal archive with Xcode and does that give you an actual 'iOS app archive', as opposed to a 'generic Xcode archive'?

[2015-09-21 18:52] staminajim commented on #89
@SpacyRicochet You can make a proper archive in Xcode if you delete the Copy Bundle Resources build phase from the app extension target.

Sorry I'm not at a build machine at the moment to see if incorporating that step into the fastlane script might work as a workaround.

[2015-09-21 19:17] dev-mush commented on #89
@SpacyRicochet I'm having the entitlements issue (the second one you posted, just to be more precise).

For clarity, here's the full output (quite big) along with the error log. I'm trying to dig into it a little despite my knowledge of ruby is quite limited.

[code]

Hope this helps.

[2015-09-21 19:46] KrauseFx commented on #88
Please update `sudo gem update fastlane_core` and you ca now pass `true` or `YES` :+1:

[2015-09-21 19:46] #88 closed

[2015-09-21 21:19] jshier commented on #90
I'm running into a similar issue, and running `rvm system` didn't fix it (or perhaps just moved the failure to another point). I'm getting a lot of `Can't find any applicable signing identities for items` errors. I can export from Xcode just fine. I've even set `use_legacy_build_api: true` and nothing has changed. Any ideas?

Is there any documentation for all of the gym options, what they mean, a

[2015-09-21 21:31] KrauseFx commented on #90
I just pushed a new release https://github.com/fastlane/gym/releases/tag/0.7.1, basically you can fallback to the old way of code signing using the `use_legacy_build_api` option.

[2015-09-21 21:32] KrauseFx commented on #90
@jshier please try `gym 0.7.2`, there was a bug in 0.7.1

[2015-09-21 21:36] jshier commented on #90
@KrauseFx Thanks, that works. I can switch back to gym and cut my ipa build times in half.

[2015-09-21 21:36] KrauseFx commented on #90
:rocket: :muscle:

[2015-09-21 21:37] KrauseFx commented on #89
I just pushed a new release https://github.com/fastlane/gym/releases/tag/0.7.1, basically you can fallback to the old way of code signing using the `use_legacy_build_api` option.

[2015-09-21 21:38] KrauseFx commented on #89
@dev-mush your error message is

[code]

Have you followed the code signing guide?

[2015-09-21 21:49] dev-mush commented on #89
mmmmh @KrauseFx  no, I didn't follow any specific guide that I have memory of... I'm configuring the keychain on the ci-server (circle) with a shell script, importing the certificates, and the provisioning profiles settings via xcode.
Of course I will look for this guide instantly! Meanwhile if you can, a link would be really appreciated, thanks :) !

[2015-09-21 21:57] KrauseFx commented on #89
Thanks @dev-mush, the code signing guide should help you :+1:

[2015-09-21 21:58] lemonkey commented on #88
Thanks!

[2015-09-22 02:35] mattyohe opened #96 "Improve the output for non-fatal crashes"
`gym 0.7.2`

This might be a part of a larger cleanup of error handling and display, but simply running gym in a folder without a project present shouldn't crash.

[2015-09-22 03:03] KrauseFx commented on #96
It raises an exception because there was no project to be found. You get the success return code when everything was successful and you generated an `ipa` file (which you didn't if there is no project)

Let's imagine you have `gym` as one of the steps in your `Fastfile` you'd expect to have an `ipa` file for the following steps if it didn't fail.

Does this make sense?

[2015-09-22 03:20] mattyohe commented on #96
Sure, but I don't expect running `gym` in the wrong directory will spit out a stack trace. Returning the error code of 1 or similar (which the current behavior does) is perfectly acceptable but not the trace.

All I'm recommending is better/meaningful output to the user. Take for example running `pod install` in a directory without a Podfile. You get nice output via `CLAide::InformativeError`. See

[2015-09-22 04:48] KrauseFx commented on #96
Thank you so much for your feedback @mattyohe, I didn't want to come of as rude for immediately closing this issue.

I agree, there is room for improvement - right now all fastlane tools will just `raise` when there is *any* error that causes the tool to not finish its job.

I'll leave this issue open to work on an improved exit system :+1: Thanks again for your feedback.

[2015-09-22 04:54] lacostej commented on #93
We could try to check for
[code]

[2015-09-22 04:57] lacostej commented on #93
Mmmm project.rb already does that. It's detect_values.rb that doesn't

[code]

[2015-09-22 05:09] xfreebird commented on #93
here

[code]

[2015-09-22 05:18] lacostej commented on #93
FIxed under PR #97

I wanted to write some unit tests, but the whole DetectValues class is tied to Gym.config whose setter calls DetectValues...

[2015-09-22 05:36] lacostej commented on #94
I've tried implementing this as:

[code]

But this breaks some tests:

[code]

It looks like when we do the above change, we pass some options that depend on the project settings to have been read (e.g. archive_path).

This is what is ran on the example project:

[code]

Note the missing product name under ```-archivePath```

Not really sure yet if we need to call the showBuildSettings twice, once

[2015-09-22 05:39] lacostej commented on #77
could be related to #96 as e.g. ```-configuration``` missing in ```-showBuildSettings```

[2015-09-22 05:40] lacostej commented on #96
I meant #94 not #96 in my above link

[2015-09-22 05:58] xfreebird commented on #94
This is what I was trying to do initially too, but in the end I saw that calling "showBuildSettings" twice would be inevitable.

The way I saw the solution was to have a simple "showBuildSettings" called initially to get the ```app_name``` properly initialised. And to have a different call "showBuildSettings" for the rest.

Seeing that I'm changing too many core features I decided to let you handl

[2015-09-22 06:43] ide opened #98 "Building IPA files for the simulator"
One of our use cases for fastlane is to build IPA files for the simulator. We currently do this from the command line and it is quite simple, but we weren't able to use gym.

If this is something you'd like to support in gym, here are the main things that are different for a simulator build:
- We didn't need to sign the IPA (this worked fine by leaving out `provisioning_profile_path`)
- We needed

[2015-09-22 09:18] SpacyRicochet commented on #89
@KrauseFx @dev-mush Following the guide doesn't seem to be working for me. Just to be sure, this is the relevant part of my Fastfile:

[code]

and this shows how my Code Signing in Xcode looks for the appropriate target.

![screen shot 2015-09-22 at 11 05 39](https://cloud.githubusercontent.com/assets/904596/10014720/8a1e8168-611b-11e5-8541-8388d3a2a155.png)

Are those correct?

[2015-09-22 09:23] dev-mush commented on #89
Yup, I'm in the same boat...I'll try with two other things that came to my mind and then I'll try to opt in with sigh...otherwise I'll just rollback to the previous version of fastlane since it was working out ok.

[2015-09-22 09:35] daneov commented on #82
I have the same issue.
(Issue was already created @ xcpretty : https://github.com/supermarin/xcpretty/issues/161 )

[2015-09-22 09:56] SpacyRicochet commented on #89
@staminajim's setup works for me now.

Reverted back to that for now.

[2015-09-22 16:42] lacostej commented on #94
I'll give it a try at implementing it with a 2 pass showBuildSettings.

[2015-09-22 19:40] KrauseFx commented on #89
@SpacyRicochet Yes, that looks fine.

You don't have to downgrade `fastlane`, instead use the `use_legacy_build_api` option to switch back to the previous method of code signing

[2015-09-22 19:40] KrauseFx commented on #82
Ah, nice, we have perfectly synced GitHub issues between the 2 repos :tada:

[2015-09-22 19:41] KrauseFx commented on #98
Correct me if I'm wrong, but building for the simulator is just one `xcodebuild` command and doesn't involve any workarounds to get everything working with Swift, etc.

What's the benefit of using `gym` then?

[2015-09-22 19:42] KrauseFx commented on #93
@lacostej thanks for the PR. How would you suggest refactoring it so that it's easier to write tests?

[2015-09-22 19:44] ide commented on #98
Yeah. It's just one command. If you think it complicates gym we'll use exec instead.

[2015-09-22 19:44] #98 closed

[2015-09-22 19:48] KrauseFx commented on #98
Okay cool :+1: You can easily just use your own local action using `fastlane new_action` and when everything works submit a pull request with the new action :rocket:

[2015-09-22 21:15] beardouglas commented on #87
I have a feeling the Crashlytics framework isn't being properly linked or is in a different location. Were you already able to onboard apps to Fabric, or is this the first time you're trying?

[2015-09-22 23:01] #93 closed

[2015-09-23 00:28] KrauseFx commented on #77
According to the table and output everything looks alright:

[code]

and

[code]

[2015-09-23 01:10] mdeandreis commented on #87
Today I updated gym and fastlane and everything works fine
Thanks!

I have a feeling the Crashlytics framework isn't being properly linked or
is in a different location. Were you already able to onboard apps to
Fabric, or is this the first time you're trying?

—
Reply to this email directly or view it on GitHub
<https://github.com/fastlane/gym/issues/87#issuecomment-142424952>.

[2015-09-23 01:39] romk1n commented on #77
@KrauseFx yes that pet is right but the archivePath of the output is not 'MyApp.Release' and it should be 'MyApp.AdHoc'

[2015-09-23 02:21] drpancake opened #100 "Build fails with IDEDistributionErrorDomain Code=1"
Hello,

Google isn't turning up anything for this one and I can't seem to find any definitions for codes in `IDEDistributionErrorDomain`. I'm seeing the following error when I run `gym`:

[code]

[2015-09-23 02:29] KrauseFx commented on #100
You could try to use the `use_legacy_build_api` option as it seems like the new way of code signing is quite buggy.

[2015-09-23 02:37] drpancake commented on #100
Works perfectly, thanks.

[2015-09-23 05:13] lacostej commented on #93
@KrauseFx we can probably work around this by mocking Gym.config or Gym altogether (given that some methods in DetectValues change Gym.project as well)

[2015-09-23 07:21] masa-beheim opened #101 "Moving ipa files and case sensitivity"
Thanks always for the fixes! I just stumbled on this one:
The following will fail:
`iApp.ipa` in `path` and
`iapp.ipa` in `@ipa_path`
The strings are different but they point to the same file, so moving will fail.
[code]
[lib/gym/generators/package_command_generator_xcode7.rb#L41](https://github.com/fastlane/gym/blob/705f395de19d5e5579aaa8fd0d09e4fec818b644/lib/gym/generators/package_command_gener

[2015-09-23 08:03] SpacyRicochet commented on #89
`use_legacy_build_api` works like a charm.

To summarize;

* The `method {}` radar still isn't solved, but is likely caused when you shouldn't be able to build a proper 'iOS App Archive' anyway. Fixing that should also fix being able to build with the latest gym without legacy support and if not, we can use `use_legacy_build_api`.
* The 'missing entitlements' issue is still a mystery, but is solve

[2015-09-23 08:27] pronebird opened #102 "Configuration"
I have two different configurations for deploy and beta lanes. I don't understand how to make a switch between configurations using fastlane+gym.

Is it possible to have Gymfile as a base configuration and then provide additional overrides from fastlane? It seems to work but I am not sure if that's correct.

Fastlane:

[code]

Gymfile:

[code]

[2015-09-23 09:59] lemonkey opened #103 "Possible for gym to just export the just built IPA/archive using a different export method?"
I have a use case where I don't necessarily want to re-download the provisioning profiles in order to get their UDID values to inject into the project settings as well as rebuild the app all over again if I can just explicitly export a specific build filename using an export method different from the original build within the same lane.

[2015-09-23 12:02] staminajim commented on #89
If you go down the CocoaPods github wormhole from here: https://github.com/CocoaPods/CocoaPods/issues/4021 it looks like this issue might go away once CocoaPods 0.39 goes final.

@KrauseFx Thanks for the `use_legacy_build_api` gym option :+1:

[2015-09-23 13:33] NikhilRyan commented on #90
Hi @KrauseFx thanks for this awesome tool.
I have an issue with gym, i'm currently running `gym 0.7.3` and getting this error with `gym --export_method enterprise` and also with `gym`.

![screen shot 2015-09-23 at 6 47 52 pm](https://cloud.githubusercontent.com/assets/13447764/10046045/344b4744-6224-11e5-959b-c9f2060dbde0.png)

[2015-09-23 13:38] truth3 commented on #90
@NikhilRyan Did you add the `use_legacy_build_api` flag when running gym?

[2015-09-23 14:00] NikhilRyan commented on #90
@truth3 thanks for the reply. I just tried `use_legacy_build_api` and it's working great. but i'm not getting what it's doing under the hood. will you please tell me what it is doing ?
thanks

[2015-09-23 14:08] truth3 commented on #90
@NikhilRyan I don't have the specifics, but If you see Felix's reply a couple days ago.. it will revert back to the old way of code signing (I believe more specifically on the export action). Outside of that, all I know is that it works :)

[2015-09-23 17:14] KrauseFx commented on #101
Ah, it's a case sensitive problem - I didn't know why this was a problem but now it makes sense.

[2015-09-23 17:14] KrauseFx commented on #101
I'll fix it :+1:

[2015-09-23 17:15] #101 closed

[2015-09-23 17:15] KrauseFx commented on #101
This will be in the next release

[2015-09-23 17:16] KrauseFx commented on #102
Yes, that's correct, you can define the standard values in the `Gymfile` and then overwrite them from within your `Fastfile`.

But in your example you define a `scheme` and a `configuration` which is not the same thing.

[2015-09-23 17:17] KrauseFx commented on #103
Sorry, that's not possible and also not planned. This would add a lot of extra complexity from both the public interface but also internally. The reason for that is that the archive path changes for every build.

[2015-09-23 17:27] KrauseFx commented on #90
Are you trying to export for AdHoc? if so, make sure to pass the `export_method` `ad-hoc` to gym.

Basically the new way to code sign and export your app with Xcode 7 works for most setups but might cause some issues as it does additional verifications.

[2015-09-23 17:27] KrauseFx commented on #90
Use whatever works for you :+1:

[2015-09-23 18:02] masa-beheim commented on #101
@KrauseFx Thank you!

[2015-09-23 18:13] lemonkey commented on #103
Is there any way for two calls to gym from the same lane can generate 2 different archives? Right now it seems that it's sharing the same archive, even though the export method is different. I was under the impression that the archive path would change for every build but it appears not.

[2015-09-23 18:15] lemonkey commented on #103
The dSYM.zip path is correct for the second build (with the correct second export method), but it appears that the exported IPA for the second build never gets exported as it appears that the original archive path never changed.

[2015-09-23 18:44] hiltonc commented on #90
`--export_method enterprise` saved the day here. Thank you!

[2015-09-23 19:32] pronebird commented on #102
Yeah right, so the scheme is the same for all builds. The only difference is configuration and I suppose default configuration is Release. Thanks for answering this!

[2015-09-23 19:32] #102 closed

[2015-09-23 20:13] KrauseFx commented on #102
:+1:

[2015-09-23 20:53] KrauseFx commented on #100
Also I pushed https://github.com/KrauseFx/fastlane/releases/tag/1.29.1 :+1:

[2015-09-23 20:57] KrauseFx commented on #90
I just pushed https://github.com/KrauseFx/fastlane/releases/tag/1.29.1 which now will automatically detect the export type if you use `sigh` and `gym` within `fastlane` :rocket:

[2015-09-23 21:59] natanrolnik opened #104 "Export Failed with Xcode 7 - `No applicable devices found`"
Hey Felix! I'm trying to export a lane that in previous Fastlane worked. I'm running fastlane v. 1.29.1 and gym 0.8.1.

I receive the following error:

[code]

Archive succeeds, but the export fails. I took a look here https://github.com/fastlane/gym/issues/89 and here https://github.com/fastlane/gym/issues/90 and tried some suggestions there, with no success.

Before updating from 1.28 to 1.29.1,

[2015-09-23 22:25] KrauseFx commented on #104
I assume this is an Ad Hoc profile? If you can't get it to work, you could try using the `use_legacy_build_api` option in `gym` to fall back to the old way of building + signing.

[2015-09-23 22:30] natanrolnik commented on #104
Indeed ADHoc.
Could you please tell me how I send this option to gym? The lane looks the following:

[code]

[2015-09-23 22:32] KrauseFx commented on #104
[code]

[2015-09-23 22:58] lemonkey commented on #103
I'm currently trying to call clean_build_artifacts to clear out the profiles between builds, hoping that it won't keep exporting the archive as "app-store" for the 2nd  "ad-hoc" build, but I ran into a bug in sigh that is currently being fixed.. Waiting for update...

[2015-09-23 23:13] lemonkey commented on #103
After the clean_build_artifacts fix, even though the build artifacts were cleaned before a new set of sigh calls is made to download the ad-hoc provisioning profiles, the gym call that follows still refers to the original archive that was made in the previous gym call, which used the app-store profiles that have since been deleted.

[2015-09-23 23:16] lemonkey commented on #103
I find that the -exportOptionsPlist '/tmp/gym_config_1443049815.plist' remains unchanged between multiple builds from the same lane, in addition to the archive path.

[2015-09-23 23:31] KrauseFx commented on #103
@lemonkey Interesting, I can already imagine why this bug occurs, I'll work on a fix :+1:

[2015-09-23 23:44] lemonkey commented on #103
FYI, I confirmed that if I use "use_legacy_build_api: true" for my gym action, it works as I expect, with the archive being overwritten with the 2nd build and I have 2 sets of IPA and dSYM files, one for the first build using app-store and one for the second build using ah-hoc for the export methods.

[2015-09-23 23:45] KrauseFx commented on #103
Fixed with https://github.com/fastlane/gym/commit/5635574d492847ed78c34aee6ce80310218813af

[2015-09-23 23:46] lemonkey commented on #103
:+1: awaiting the push... :cake:

[2015-09-23 23:48] KrauseFx commented on #103
Here we go https://github.com/fastlane/gym/releases/tag/0.8.2 :rocket:

[2015-09-23 23:48] natanrolnik commented on #104
Great, using the `use_legacy_build_api: true` made it.

Do you know what causes it to fail when not using the legacy? I'll pay attention in the new releases, to know when to remove it.

[2015-09-23 23:48] #104 closed

[2015-09-23 23:51] #103 closed

[2015-09-23 23:51] lemonkey commented on #103
Awesome!

[2015-09-23 23:55] KrauseFx commented on #104
Sorry, I don't know why - somehow it seems to verify the devices in your Ad Hoc profile...

[2015-09-23 23:58] lemonkey commented on #103
Confirmed fixed, including having 2 separate archives (one app-store, one ad-hoc), where I was seeing the first one overwritten when using use_legacy_build_api.

[2015-09-24 00:04] KrauseFx commented on #103
Yeah :+1:

[2015-09-24 12:18] mr-const opened #105 "Flag for simple std output"
Is it possible to add some flag for simple log output? We use Jenkins for builds and console log looks pretty ugly. And it seems that gym has some issues with buffering or something like that, because live jenkins log waits on first build output string and after build completion spits tons of output.
Here is an example (Timestamp to the left - generated by jenkins, to the right - from gym):

[code

[2015-09-24 13:43] mr-const opened #106 "Wrong mobile provision profile"
I'm building project using jenkins with following flags:
[code]
Before update to 0.72 version .ipa file was correctly provisioned with my PROVISION_PROFILE, after update gym to 0.72 (and 0.82) ipa contains invalid profile. I checked xcode archive - it contains correct mobile provision profile, so it seems to me, that gym overwrites provision profile after it was built and archived with xcodebuild.

[2015-09-24 16:55] KrauseFx commented on #106
It seems like your project is wrongly configured, please follow the [code signing guide](https://github.com/KrauseFx/fastlane/blob/master/docs/CodeSigning.md) and make sure to set the correct provisioning profile via environment variables.

[2015-09-24 16:58] mr-const commented on #106
Nope.
1. Project didn't change for months
2. gym was updated, xcode was updated.

And as I wrote - xcode embeds correct profile. Something happens later, when ipa zipped, or even later.

[2015-09-24 17:00] KrauseFx commented on #106
You can always fallback to the old way of code signing: `gym(use_legacy_build_api: true)`, but it's not recommended. The new way of code signing does additional verifications of your code signing settings.

Or use `gym --use_legacy_build_api true` from the command line.

[2015-09-25 14:47] lucoceano opened #107 "Single Brackets on app name brakes gym command"
When my app name has single brackes this command fails:

[code]
the stacktrace:

[code]

[2015-09-26 11:16] maxgoedjen opened #108 "Invalid Swift Support - The SwiftSupport folder is missing"
When building with fastlane/gym (latest version of both) on Xcode 7 GM, I'm getting an email with the following:

---

Dear developer,

We have discovered one or more issues with your recent delivery for APP NAME. To process your delivery, the following issues must be corrected:

Invalid Swift Support - The SwiftSupport folder is missing. Rebuild your app using the current public (GM) version of X

[2015-09-26 18:04] KrauseFx commented on #108
@maxgoedjen So you have custom build script that work for your application? Do you mind sharing them so I can check what's different?

What parameters did you pass when running `gym`? With Xcode 7 there is an option `use_legacy_build_api` to fall back to the old way of packaging up the application.

[2015-09-26 19:41] pkostenko commented on #105
Yes, I agree. It would be especially useful for CI systems to have the ability to disable xcpretty and write the raw output to the console.

[2015-09-26 20:20] KrauseFx commented on #105
`gym` will automatically print out the raw output if there is a build error, enabling you to resolve the issue. If everything works without problems you don't have to read the complete build output, right?

So the only use case is when you want to see the build output *while* the Jenkins job is running?

[2015-09-26 20:41] pkostenko commented on #105
Yes, the first use case would be seeing the build output in real-time (this is particularly nicely implemented in TeamCity).
The second use case - seeing all warnings + build settings.
The third use case - analyzing the build logs in case technically a build has succeeded, but the application was not packaged correctly (some resources are missing, signing with wrong entitlements, etc.).

[2015-09-26 20:45] KrauseFx commented on #105
@pkostenko as it is now you can access the raw `xcodebuild` output in `~/Library/Logs/gym`

[2015-09-26 21:15] pkostenko commented on #105
@KrauseFx It implies that I need to have an access to the file system, which is not always possible in case of CI server. Meanwhile, the build output in WebUI as always available.

[2015-09-27 00:31] maxgoedjen commented on #108
My gym file was set up with the following parameters:
[code]

Here's my custom script (a bit messy, but I believe it's mainly the same as your fix script for Swift Support.

[code]

[2015-09-27 00:50] maxgoedjen commented on #108
Briefly skimming through the code, it looks as though even when using `use_legacy_build_api`, gym may check `Xcode.pre_7?` instead of `use_legacy_build_api` when deciding to apply the swift lib fix ( https://github.com/fastlane/gym/blob/9a3dc172822077970a4cd45ef512ce03660f617d/lib/gym/runner.rb#L67 ). Should this be checking `use_legacy_build_api` instead?

[2015-09-27 09:05] maxgoedjen commented on #108
Fixed in #109

Unzipped .ipa produced before fix: ![](http://d.mxg.io/10LFo+)
after: ![](http://d.mxg.io/de6j+)

[2015-09-27 20:22] #108 closed

[2015-09-27 20:26] KrauseFx commented on #108
Wow, nice catch, thanks for researching this. I'm bundling up a new release right now :rocket:

[2015-09-27 23:29] maxgoedjen commented on #108
Fix confirmed running with live build after uploading to iTC. :+1:

[2015-09-28 01:42] KrauseFx commented on #108
Thank you so much for finding this issue! I want to implement a new kind of integration tests to run an actual Mac Mini that creates an application from scratch and does everything until submitting the app for review every few hours to catch those kind of issues automatically.

[2015-09-28 04:52] revile opened #110 "incompatible encoding regexp match (UTF-8 regexp with ASCII-8BIT string)"
Getting the following when I try and build:
[code]

[2015-09-28 12:55] dmiotti commented on #69
Same here
[code]

After archiving, I can see that the ipa is not using the mobileprovision provided in the `gym` command.

Cheers.

[2015-09-28 17:15] KrauseFx commented on #69
@dmiotti If you use Xcode 7 you should get this message:

[code]

as this option was deprecated by the `xcodebuild` command

[2015-09-29 00:12] revile commented on #110
I've been trying to figure out when this broke for me. My build works on gym version 0.4.6, but not on 0.5.0.

I've tried the answer you suggested here: http://stackoverflow.com/questions/17031651/invalid-byte-sequence-in-us-ascii-argument-error-when-i-run-rake-dbseed-in-ra/17031697#17031697

But it makes no difference. Do you have any other ideas?

[2015-09-29 01:32] revile commented on #110
Just to keep this updated:
The issue turned out to be the fact that our app has a β in it's name (and hence a file inside the archive has a β in it's name)

This was caused by the changes to `swift_fix.rb` in version 0.5.0 (commit 571795ff49b5a06658e4bbd72f4bc98c292f52bc).

I've fixed it by replacing line 59 with this:
`files << entry.name if entry.name.force_encoding("utf-8").match file_pattern`

[2015-09-29 01:50] romk1n commented on #77
@KrauseFx yes that part is right but the archivePath of the output is 'MyApp.Release' and it should be 'MyApp.AdHoc'.

[2015-09-30 07:26] AliAyasrah opened #111 "how to set Export Method"
Hello
I am trying to build for test
but the build always failed because no provision match for app-store
but I need development build for test (I have provision profiles for each Id and it is works fine from manual build)

+---------------+--------------------------+
|          Building Application 🚀          |
+---------------+--------------------------+
| Project       | ./WatchName.xcodeproj

[2015-09-30 07:55] florianbuerger opened #112 "No project/workspace found in the current directory"
Didn't change anything in regards to the project structure, just updated fastlane to 1.0 this morning.
It seems gym is trying to load the project from within the fastlane directory.

[code]

Relevant Fastfile section
[code]

Using `../TestProject.xcworkspace` doesn't work either.

Stacktrace
[code]

[2015-09-30 08:57] bkrijgsman commented on #112
Had the same issue here. I fixed this issue by setting the workspace to the full path (/Users/username/project/project.xcworkspace)

[2015-09-30 09:09] florianbuerger commented on #112
This will only work on that specific machine. The actual build process is on a CI where the absolute path isn't fixed.

[2015-09-30 09:14] bkrijgsman commented on #112
It's a work-a-round :)

[2015-09-30 09:17] florianbuerger commented on #112
Sure, and of course it works when building on your own machine. Just wanted to point out the problem for others :wink:

[2015-09-30 09:35] victor commented on #112
Same here, noticed it when I updated gym. Also, previously I didn't even specify the workspace as it was found automatically since there was only one, but it started complaining that it wasn't being found (which makes sense if it started looking for it into `fastlane/`

[2015-09-30 11:08] astralcosmonaut commented on #112
I think I have similar problem now. It's happening when I'm using 'cocoapods' command before 'gym'. When I remove this command, gym is capable to find workspace.

[2015-09-30 12:38] ikbalkaya commented on #112
I have the same problem now. When I try to set the workspace with ../myworkspace it will try look for parent of parent directory.

[2015-09-30 17:48] KrauseFx commented on #112
I'm really sorry about this. Your issue seems to be caused by a release yesterday which had a race condition in [fastlane_core](https://github.com/fastlane/fastlane_core). Could you please update using `sudo gem update fastlane_core` and let me know if this fixes your issue?

Sorry again for the troubles.

[2015-09-30 17:49] KrauseFx commented on #111
You can run `gym --help`

[code]

You can also use `gym --use_legacy_build_api` to not have to specify the export method.

[2015-09-30 17:52] victor commented on #112
yup, that did it for me. thanks

[2015-09-30 17:53] gpbl commented on #112
Thanks @KrauseFx, it works now ! 👍

[2015-09-30 18:36] KrauseFx commented on #112
Yeah, thanks everybody :+1:

[2015-09-30 18:36] #112 closed

[2015-10-01 00:37] forhot2000 commented on #112
I have the same problem, there are some warning 'conflicting chdir during another chdir block'

[code]

[2015-10-01 02:27] KrauseFx commented on #112
@forhot2000 And `sudo gem update fastlane_core` is not working for you?

[2015-10-01 04:08] forhot2000 commented on #112
'sudo gem update fastlane_core' fixed the error. thanks~ @KrauseFx

[2015-10-01 09:52] AliAyasrah commented on #111
it is work now
thank you for good support

[2015-10-01 18:45] KrauseFx commented on #111
Great to hear :+1:

[2015-10-01 18:45] #111 closed

[2015-10-02 11:41] Nailer commented on #110
Just ran into this problem. The app I'm trying to submit has an Ø in the file name.

[2015-10-02 12:29] Nailer commented on #110
@revile Your workaround worked for me. Thanks a lot :)

[2015-10-02 13:51] #64 closed

[2015-10-03 01:02] gametimebuildserver opened #113 "Runtime error archiving"
[code]

command I was running:

gym --workspace "projname.xcworkspace" --scheme "Beta" -o $HOME/Desktop/build/ --use_legacy_build_api --clean

[2015-10-05 02:41] KrauseFx commented on #113
Does it work without specifying the `use_legacy_build_api` parameter? Do you get a build error when building using Xcode? Did you select the right version of Xcode?

[2015-10-05 04:26] joshdholtz commented on #113
I am also seeing this same `Exit status: 65` stuff. I will let you know when I figure out what is actually causing it :wink:

[2015-10-05 04:27] joshdholtz commented on #113
It's the worst error because it literally doesn't give any error information :grimacing:

[2015-10-06 11:56] gbasile commented on #68
I have the a similar problem here. I have different parameters for different environment. It is possible to pass environment variables?

[2015-10-06 14:15] KrauseFx commented on #68
@gbasile Sure, check out `gym --help` for all environment variables. Also, I recommend you use [fastlane](https://fastlane.tools) to support different environments.

[2015-10-07 09:07] aloifolia commented on #90
I just tried to use the `export_method`option but fastlane failed during the sigh step:
[code]
I am using sigh 0.10.9 and fastlane 1.32.0.

[2015-10-07 09:45] aloifolia opened #115 "XCode 7: The generated archive is invalid"
Is it possible to skip the validation of a generated archive? I use the following lane to archive and export my enterprise app:
[code]
The archive is generated but not exported to an .ipa file, probably because the verification fails:
[code]
To give you some more information: The validation does not work in XCode, as well (even if I do not use fastlane but XCode's UI to generate the archive). Howe

[2015-10-07 14:30] KrauseFx commented on #90
@aloifolia The `export_method` is only available for the `gym` tool (while building). `sigh` is only used to fetch the latest provisioning profile.

[2015-10-08 16:12] DoubleMalt commented on #113
I'm also seeing error 65 ... only in my case what fails is CodeSign:

[code]

[2015-10-08 16:18] joshdholtz commented on #113
@KrauseFx My error was actually due to a "run script" in the build phases that was failing silently :grimacing: You are still perfect in my eyes :wink:

[2015-10-08 19:52] marcelofabri opened #116 "Change to system ruby before running xcodebuild -exportArchive"
`ipatool` (`/Applications/Xcode.app/Contents/Developer/usr/bin/ipatool`) uses the system ruby by declaring:

[code]

Unfortunately, it creates a problem with `json` gem because I'm using rvm (ruby 2.2.3p173) and it needs a version >= 1.8.2, but this version won't work with older ruby versions (the system one, for example).

This is the error I get:

[code]

I think `gym` should run `rvm use system

[2015-10-09 04:10] Jsonmess opened #117 "Hello,I m a new to use gym ,when i use gym to package my app,the "ipa" file is large!"
i found ipa contain a folder named "Symbols", is there any param for avoid create this folder when package app??  thank!

[2015-10-09 06:41] ide commented on #89
@staminajim I upgraded to CocoaPods 0.39.0-rc.1 and no luck even with `export_method: "enterprise"`. I kind of suspect Ruby (or maybe a new version of gym) in my case since I deleted and re-installed all my gems yesterday and Enterprise builds stopped working today. I could still create an Enterprise IPA successfully with Xcode or with `use_legacy_build_api`.

[2015-10-10 13:53] KrauseFx commented on #117
Closing in favor of https://github.com/KrauseFx/fastlane/issues/519. Please add a comment to the other issue :+1:

[2015-10-10 13:53] #117 closed

[2015-10-12 11:07] samnung opened #119 "Failing tests for Ruby 2.2 on Travis"
Hi, I think I found workaround to pass builds for Ruby 2.2. I think the problem is in gem `commander` which is creating paginated help. I have no idea why is it doing this, because it should use this only when TTY is available, instead it streams all output to `less` and it stock there.
This is happening in your private lane `:validate_repo` in the Fastfile.

Diff is located here: https://github.c

[2015-10-12 17:14] phatblat commented on #89
FWIW, the issues I had with `-exportOptionsPlist` were caused by CocoaPods 0.38.2, resolved in 0.39.
http://openradar.appspot.com/radar?id=4952000420642816

[2015-10-12 17:15] KrauseFx commented on #89
That's good news, thanks for porting it @phatblat :+1:

[2015-10-12 18:07] aziz-boudi4 opened #120 "gym is unable to building the application "Error building the application - see the log above (RuntimeError)""
Fastlane is crashing when it gets to 'gym'.
I can build the project on xcode 7.0.1 but i'm unable to build the project using fastlane.
here is the error log:

            ⌦  duplicate symbol _llvm.cmdline in

             ⌦  duplicate symbol _llvm.embedded.module in

             ⌦  duplicate symbol _llvm.cmdline in

            ⌦  duplicate symbol _llvm.embedded.module in

            ⌦  ld: 220

[2015-10-12 20:20] KrauseFx commented on #120
This error is not caused by `gym`, it's related to your project:
[code]

Can you successfully build using Xcode? Also, check out the `xcodebuild` command that is shown before building your app.

[2015-10-12 22:33] enricenrich opened #121 "gym isn't able to build app made in Objective-C, that contains Swift files"
Today while trying to create and codesign my project, it was throwing an error like this:

`"Error building the application - see the log above (RuntimeError)"`

The thing is that it's not working of my project (originally created in Objective-C) now contains Swift files. If the project doesn't have Swift files it works perfectly.

[2015-10-12 23:38] KrauseFx commented on #121
`see the log above`

Please share the log above :stuck_out_tongue_winking_eye:

[2015-10-13 01:02] aziz-boudi4 commented on #120
I identified the problem, I have two versions of xcode installed on my macbook ( xcode 6.4 and xcode 7 ).

Gym is trying to build the app using Xcode 6.4 that is why it is not able to build.

My app is written is swift 2.

How can I tell gym and fastlane to build the project on Xcode 7 and not Xcode 6.4

      [17:58:38]: -----------------
      [17:58:38]: --- Step: gym ---
      [17:58:38]: ----

[2015-10-13 01:07] cbowns opened #122 "'gym' command-line invocation (and from fastlane) seems to ignore scheme parameter"
I'm invoking `gym` from `fastlane` like so:

[code]

Here's my `xcworkspace` output:

[code]

When I run the lane, `gym` shows an interactive prompt for me to select a scheme, and says it can't find "Example".

[code]

I get the same error when I invoke `gym` from the command-line directly, even with `--scheme` passed in:

[code]

[2015-10-13 01:09] cbowns commented on #122
This one is on me, I forgot I'd started to create a Gymfile.

[2015-10-13 01:09] #122 closed

[2015-10-13 01:26] aziz-boudi4 commented on #120
update : I deleted Xcode-6.4 using the command xcode-install uninstall 6.4

[2015-10-13 04:54] KrauseFx commented on #120
Yeah :+1:

[2015-10-13 04:54] #120 closed

[2015-10-13 07:51] enricenrich commented on #121
@KrauseFx

[code]

[2015-10-13 09:43] enricenrich commented on #121
Never mind, it was an issue on my project!

[2015-10-13 09:43] #121 closed

[2015-10-13 17:41] KrauseFx commented on #121
:+1:

[2015-10-14 15:24] zhigang1992 commented on #46
@KrauseFx What about multiple `provisioning_profiles`, for multiple targets?

[2015-10-14 16:48] KrauseFx commented on #46
@zhigang1992 Sure, check out the [code signing guide](https://github.com/KrauseFx/fastlane/blob/master/docs/CodeSigning.md)

[2015-10-14 18:29] KrauseFx commented on #116
I think @fabiomassimo started looking into this. I'm not sure what's the latest status about this.

[2015-10-14 18:52] jlpiedrahita commented on #104
Try performing:

`gem update`

https://forums.developer.apple.com/message/75096#75096

[2015-10-14 19:01] jlpiedrahita commented on #90
Hey guys, I run into this today and manage to come to the conclusion that there's a bug in **CFPropertyList** v 2.3.1 (https://github.com/ckruse/CFPropertyList/issues/43) and that performing a single `gem update` may solve your problem.

Check this out: https://forums.developer.apple.com/message/75096#75096

[2015-10-14 23:01] JaviSoto commented on #90
@jlpiedrahita I just tested it with the updated `CFPropertyList` and I get the same error :-/

[2015-10-15 05:59] lacostej commented on #94
@xfreebird did the problem disappear ?

[2015-10-15 08:00] Evaugh opened #124 "Gym cannot build schemes with scheme names containing a colon (:)"
When the scheme you want Gym to build contains a colon (:) *or* any other scheme in the list of schemes in the XCode project or workspace contains a colon (e.g. a scheme named `TestFastLane: MySchemeName`), Gym fails with the error:

`Couldn't find specified scheme 'TestFastLane: MySchemeName'`

Running

`xcrun xcodebuild -list -workspace './TestFastLane.xcworkspace'`

displays all the schemes, in

[2015-10-15 08:00] xfreebird commented on #94
I thought it was fixed :)

[2015-10-15 09:24] CBeloch commented on #107
Have the same issue

[code]

Had a CFBundleDisplayName with "ü" and ":" and removed it, still same issue...
My exit code is different. Updated gym to latest version (0.9.0)

[2015-10-15 12:29] xfreebird opened #125 "TERM environment variable not set."
Today I updated fastlane, gym and all gems to the latest version.

When running from Jenkins in logs I get a lot of messages ```TERM environment variable not set.```
[code]
Then I tried to run the same fastlane command from terminal on the same machine.
And I get huge gaps between build logs
[code]

but if I run ```export TERM=dumb``` before fastlane the output is ok in terminal and Jenkins

[2015-10-15 12:41] jlpiedrahita commented on #90
@JaviSoto Have you tried having a look at the distribution logs? `sudo find /private/var -name "*.xcdistributionlogs"` there might be a clue for what's going on in your case (let us know if you find something else).

[2015-10-15 13:13] marcelofabri commented on #90
@jlpiedrahita I'm still having this issue. I tried to explain more on #116.

[2015-10-15 15:18] xfreebird opened #126 "About Xcode broken export API Fix"
Recently I've encountered this issue that is mentioned in options https://openradar.appspot.com/radar?id=4952000420642816

My solution was to update the system ruby ```CFPropertyList``` gem. Then to switch back to my installed  rbenv ruby. [Source](https://forums.developer.apple.com/thread/13446)

[2015-10-15 16:16] marcelofabri commented on #126
I think this is only fix the symptom, not the real problem here. IMO the problem is that `xcodebuild` uses the RVM gems, but with the system Ruby (#116).

[2015-10-15 16:21] KrauseFx commented on #126
Yes :+1:

[2015-10-15 20:56] xfreebird commented on #126
Yeah, that is really weird.

[2015-10-15 20:59] #126 closed

[2015-10-15 21:34] xfreebird commented on #105
@pkostenko you could output the log file at the end of gym action.

[2015-10-16 14:44] ffittschen opened #127 "Gigantic amount of whitespace during xcodebuild"
Hi,
today updated from gym 0.7.0 to 0.9.0. Suddenly there is a **huge** amount of whitespace/newlines (From the `|Building Application 🚀`-table to `Successfully exported and compressed dSYM file` are **11695** lines 😱

I tested if this might be caused by xcpretty, but when I run the `set -o pipefail && xcodebuild -scheme [...] | tee [...] | xcpretty` command that is printed by gym by hand, I don't

[2015-10-17 19:37] KrauseFx commented on #124
This is caused because of this code

[code]

Could you share the complete output when running

[code]

[2015-10-17 19:40] KrauseFx commented on #127
It seems like it looks weird on the standard Terminal, while it looks like on iTerm. I'll try to find a way to improve this.

[2015-10-18 17:58] salabaha opened #128 "Lane crash when use gym with export_method parameter"
###### The following gym command used in lane lead to crash.
##### Issue number: 94e85433c3bf161d7a25b0eed381b861

 gym(
   clean: true,
   workspace: "MyApp.xcworkspace",
   scheme: "MyApp",
   codesigning_identity: "iPhone Distribution: MyApp GmbH",
   export_method: 'ad-hoc'
)

With a beat of investigation I have found that gym failed to generate ipa file and it is the reason of the crash. Also

[2015-10-19 00:23] KrauseFx commented on #128
Thank you so much for the crash report. This error shouldn't happen of course, I'll look into it now!

[2015-10-19 00:26] KrauseFx commented on #128
Could you please update using `sudo gem update gym`, I just pushed a new release.

Using the `use_legacy_build_api` is a good and simple way of solving it. For some reason, the generated archive doesn't contain an ipa file. So yes, go ahead and keep using the `use_legacy_build_api` option

[2015-10-19 00:26] KrauseFx commented on #128
The updated version of `gym` should display a better error message now by detecting this issue

[2015-10-19 00:27] KrauseFx commented on #128
The new version will be live in 5 minutes

[2015-10-19 00:28] KrauseFx commented on #128
It's live :+1:

[2015-10-19 01:09] yoongfook commented on #115
Hi @aloifolia did you find a solution to this? I am facing the same issue as well.

[2015-10-19 02:58] KrauseFx commented on #115
You could try using the `use_legacy_build_api` option :+1:

[2015-10-19 03:01] yoongfook commented on #115
@KrauseFx that worked beautifully thank you so much!

[2015-10-19 03:29] KrauseFx commented on #115
Yeah :+1:

[2015-10-19 09:14] salabaha commented on #128
Thanks for update.

[2015-10-19 10:13] aloifolia commented on #115
This option does not work for me. I guess, the validation is still performed... So, back to the question: Can I disable it somehow?

[2015-10-19 12:17] Evaugh commented on #124
This lists the scheme as expected:

[code]

[2015-10-19 17:37] #128 closed

[2015-10-19 22:12] KrauseFx commented on #127
This will be fixed with the next release :+1:

[2015-10-19 22:12] #127 closed

[2015-10-19 22:20] KrauseFx commented on #125
This is fixed with the new `fastlane_core` from today, give it a try :+1:

[2015-10-19 22:20] #125 closed

[2015-10-20 10:14] apouche commented on #68
Just tried `gym` for the first time really like that tool great job.

Regarding this specific enhancement, most of the time the configuration we should target depends on the branch the code is on (for ex `master:  Release`, `other-branch: AdHoc...`, `some-dev-branch: Debug`.) So a better improvement (I think) would be to simple have on `Gymfile` but being able to make the switch between configurat

[2015-10-20 10:27] xfreebird commented on #125
Thanks @KrauseFx ! It is working now.

[2015-10-20 17:36] KrauseFx commented on #68
@apouche You should should be able to do all that using `fastlane` :+1:

[2015-10-20 19:54] salabaha commented on #106
I have noticed similar problem. I was trying to build ad-hoc ipa but each time it include wrong provision profile. (It was signed with apple watch provision profile instead of main target provision profile). My target configuration include hardcoded code signing identity. But still I had the following config

gym(clean: true, workspace: workspace, scheme: scheme, codesigning_identity: codesigning,

[2015-10-20 20:05] salabaha commented on #106
Would be good if gym could validate generated ipa file against code signing errors. Would help a lot troubleshoot code signing problems.

[2015-10-21 06:57] clementprem commented on #115
I am also facing the same issue.
According to this doc https://developer.apple.com/library/ios/qa/qa1830/_index.html we should not validate  Development, Ad Hoc or Enterprise builds.
How can I disable the validation part?

[2015-10-21 08:00] jlpiedrahita commented on #90
I just got this response from Apple DTS:

_This issue happens when a newer version of the CFPropertyList Ruby gem is installed. To workaround the issue, either revert or update this gem._

It's quite late though...

[2015-10-21 09:30] apouche commented on #68
Indeed, that was the second step, I just add issues with the way the `increment_build_number` works, but I'll open a PR for few. Great job on fastlane, I disabled my build/upload scripts yesterday.

[2015-10-21 14:25] ffittschen commented on #127
@KrauseFx Thanks! I just tested it and now it looks way better ;)

[2015-10-22 20:46] KrauseFx commented on #127
Cool :+1:

[2015-10-23 04:14] adcooley commented on #115
Strangely, I had this problem, switched to legacy_build_api and that solved it, and now today I've got the problem again. My hope is that I made a change that broke code signing but interesting to see someone else having the issue

[2015-10-23 04:22] adcooley commented on #115
@aloifolia think I've got a fix for you. @KrauseFx think I've got a bug for you :)

I changed three things from when it was working:

I was calling
[code]

and dropped the output paths to just `cert` and `sigh`

...and I was specifying an output folder for the gym build `, output_directory: './fastlane/build',` and dropped the output directory.

I'm currently testing to determine which is the root

[2015-10-23 04:37] adcooley commented on #115
Alright, so removing the `output_directory` and `archive_path` cause the ipa creation to fail (in a very uninformative way :/). For reference, I originally had:
[code]
and it's fixed with:
[code]
I see now that output_directory and archive_path were probably conflicting or something ( so maybe this doesn't solve your issue @aloifolia ) but honestly there are like 4 'output' related variables and i

[2015-10-23 17:14] MetallicCornFlakes opened #129 "Ability to add teamID into exportOptionsPlist"
![screen shot 2015-10-23 at 10 10 33 am](https://cloud.githubusercontent.com/assets/1590887/10699797/585d270e-796e-11e5-97d5-ee8cfa99a8d7.png)

I have a requirement to send in teamID into the exportOptionsPlist along with the export method. I am able to send the method by using `gym(export_method: "enterprise")` but I don't see any way to pass in a teamID. I edited the plist after fast lane failed

[2015-10-23 21:17] KrauseFx commented on #129
Interesting, I didn't know this value is required, I'll add an option for that, thanks for analyzing this issue! :+1:

[2015-10-23 21:26] KrauseFx commented on #129
This will be in the next release :rocket: https://github.com/fastlane/gym/commit/b9dd3d643dc5711d701a3a72df57f669e7f7c39e

[2015-10-23 21:26] #129 closed

[2015-10-23 21:33] MetallicCornFlakes commented on #129
Awesome thanks for the quick action on this!

[2015-10-26 20:48] MetallicCornFlakes commented on #129
This works great for app store builds but it also gives me this error if I'm trying to send out an enterprise or ad-hoc build, could you add this to the export plist for builds that aren't just app-store?

[2015-10-26 21:01] KrauseFx commented on #129
Oh, makes sense

[2015-10-26 21:02] KrauseFx commented on #129
This will be in the next release :+1:

[2015-10-26 21:24] MetallicCornFlakes commented on #129
Thanks! :+1:

[2015-10-27 18:34] JaviSoto commented on #90
So which version should we be using? I run into this issue with either version :-/

[2015-10-27 22:20] evansolomon opened #130 "Build command hangs on "Touching MyApp.app""
I am brand new to Fastlane, so I'm probably missing something obvious here. I am trying to setup a lane using gym and ran into what seems like a stuck command.

If I run something like this: `gym build --verbose --scheme MyApp --project './MyApp.xcodeproj'` I get a bunch of output for things getting built/linked/compiled/etc and finally it prints "Touching MyApp.app". The last message just stays t

[2015-10-27 22:39] evansolomon commented on #130
Btw in case this is relevant, my app also has a share extension bundled with this. This has never really changed the way we've used Xcode's build tools, but figured it might be relevant here.

[2015-10-28 13:11] alexmx opened #131 "Setting Desktop directory as output_directory doesn't work properly"
Setting desktop directory as output directory for .ipa and archived dSYM doesn't work as expected.
Only the archive with dSYM is exported to desktop, without .ipa file.

I've tried both solutions:

[code]

Or

[code]

[2015-10-28 16:29] mrniket commented on #115
I fixed this by putting `.xcarchive` after my archive path so that my gym action looks like this:

	gym(
	    scheme: xcode_scheme,
	    output_name: ipa_path,
	    codesigning_identity: codesigning_identity,
	    export_method: export_method,
	    archive_path: "#{xcode_scheme}.xcarchive",
	    include_bitcode: false,
	    clean: true
	)

Looking at the gym source code, the problem seems to be in

[2015-10-28 16:46] pr1001 commented on #90
After adding `export_method: 'enterprise'` to my `Fastfile`, I was also getting the `No applicable devices found.` error. I switched to the system Ruby using `rvm system`, and it then archived my Enterprise application correctly. While this worked for me, I'd love to be able to use my RVM Ruby version. Is it Fastlane that needs to update its CFPropertyList dependency?

[2015-10-28 16:51] jlpiedrahita commented on #90
@JaviSoto 2.2.8 or 2.3.2

[2015-10-28 17:10] KrauseFx commented on #131
Thanks, I can reproduce the issue and will push a fix in a minute :+1:

[2015-10-28 17:15] #131 closed

[2015-10-28 17:52] #115 closed

[2015-10-28 17:54] KrauseFx commented on #115
Please update to the latest release and let me know if that works for you :+1:

[2015-10-29 01:51] kcharwood commented on #90
I've been battling this issue today as well.

This is the error:

error: exportArchive: No applicable devices found.

I verified I have updated versions of `CFPropertyList` and `sqlite3`. I am also using `rvm`. If I use `use_legacy_build_api`, it works correctly for me. Without it, it fails with the error above.

Here is my gym setup:

[code]

[2015-10-29 05:56] viktorbenei commented on #90
FYI if you use RVM and have the `error: exportArchive: No applicable devices found.` issue this was the only solution which worked in our case: http://stackoverflow.com/a/33041110/974381

[2015-10-29 07:46] kinwahlai commented on #90
I installed older ruby version `rvm install 2.0.0`.
Then installed CFPropertyList and sqlite3 gems, just in case ipatool is complaint about missing CFPropertyList or sqlite3.

So far, it works without switch to system ruby.

[2015-10-29 10:19] DamianSheldon opened #133 "Build fail Exit status: 65"
⌦  /Users/dongmeiliang/Documents/PAHNApp/sohiOSApp/sohiOSApp/General/Class/PAHNNavigationController.m:19:78: implicit conversion loses floating-point precision: 'double' to 'CGFloat' (aka 'float') [-Werror,-Wconversion]

[[UINavigationBar appearance] setBarTintColor:[UIColor colorWithRed:230.0/255.0 green:230.0/255.0 blue:230./255.0 alpha:1.0]];
^  ~~~~~~~~~~~~~~~~~~~~~~~~~~

⌦  /Users/dongmeilian

[2015-10-29 11:23] mrniket commented on #115
Unfortunately the latest release didn't work for me but I've submitted a pull request (#134) with a fix that does though :)

[2015-10-29 17:29] poolqf opened #135 "Archive failed when running Run Script (Carthage one)"
Hi Felix,

I am having an issue when building the app, everything seems to work fine, but when running it is going to run the Carthage run script it fails, the output is this one:

[code]

Tried both using command line directly and inside a fastlane lane.

**Command line command:**
`gym -w "XXXX.xcworkspace" -s "XXXXXX" -k "iphoneos9.1" -c true`

**Fastlane lane:**
[code]

Tried multiple times in

[2015-10-30 09:17] taehoon-jung opened #136 "The uploadBitcode, uploadSymbols options are always true."
Hello,

Recently I applied gym to my project. I modified all scripts.
I am very satisfied with gym. Thank you.

But I found a something when I ran gym with options.

### Issue

I ran `gym` with `include_bitcode` and `include_symbols` options.
`$ gym --include_bitcode false --include_symbols false`

Building and exporting binary are succeed but I found a log about `exportOptionsPlist` on console.
[

[2015-10-30 16:57] KrauseFx commented on #136
Thanks - I can reproduce the issue, working on a fix now :+1:

[2015-10-30 17:12] KrauseFx commented on #136
Unfortunately this is related to https://github.com/fastlane/fastlane_core/commit/fddc4fefa7f722bc654717ea2a8be593ea5cd5cb. Right now it's only possible to pass the value using `fastlane` - I want to do a rewrite on how command line parameters work, but this will require some work...

[2015-10-31 10:22] taehoon-jung commented on #136
Thanks. I hope it will fix soon. :)

[2015-11-02 04:16] superarts commented on #70
Here `gym` keeps using the wildcard provisioning profile which breaks push notification and other things. It would be helpful to have it shown, maybe along with `xcrun xcodebuild -showBuildSettings -workspace './whitelabel.xcworkspace' -scheme 'Template'`... Or indicate where "Installing provisioning profile..." come from.

[2015-11-02 15:22] czechboy0 commented on #12
I will pay one :beer: to have this moved up in priority.

[2015-11-02 15:26] lacostej commented on #12
:beer: Driven Development !

[2015-11-02 23:29] #110 closed

[2015-11-02 23:32] KrauseFx commented on #110
Thanks for posting the solution - sorry it took so long, here we go: https://github.com/fastlane/gym/releases/tag/1.1.5

[2015-11-03 09:26] masa-beheim commented on #116
FYI
[stackoverflow: xcodebuild: “No applicable devices found.” when exporting archive](http://stackoverflow.com/questions/33041109/xcodebuild-no-applicable-devices-found-when-exporting-archive/33041110#33041110) from
https://github.com/fastlane/gym/issues/90#issuecomment-152084960

@marcelofabri This is basically what you are saying.
@KrauseFx Maybe an option for gym to use system ruby only for xc

[2015-11-03 09:32] fabiomassimo commented on #116
Thanks for sharing. Nice workaround.

Anyone has experience with `rbenv`? If we could find a similar solution for `rbenv`'s users we could make a nice PR.

[2015-11-04 14:03] luissilvaos commented on #130
Same issue here. Any update on this?

[2015-11-04 14:56] pblitz opened #138 "XCode 6.4 Error with Package Application"
Have a Fastfile config
[code]
The build seesm to work, but gym fails with
[code]

Any clue what to do, any further information I can pass on?

[2015-11-04 16:56] poolqf commented on #135
It is working now, the issue was mine.

I did not know that the Carthage Run Script should only be run in Application target
Found the solution here: https://github.com/Carthage/Carthage/issues/239#issuecomment-67974991

[2015-11-04 16:56] #135 closed

[2015-11-05 00:16] GabrielCartier commented on #90
I started having this issue too on my CI.
I don't even have rvm on the machine, haven't found a solution yet.

[2015-11-05 19:27] yakimant commented on #69
Do I understand right, that instead of `provisioning_profile_path` I should install profile to `~/Library/MobileDevice/Provisioning\ Profiles` and select it by `PROVISIONING_PROFILE`?

I mean:
1) There is no way to point out to provisioning profile in non-default folder
2) There is no `provisioning_profile` option for gym
Right?

Or:
3) provisioning profile is not needed for `archive` step and onl

[2015-11-06 09:36] wedgybo opened #139 "Gymfile overrides all parameters passed to the gym function in the fastlane file"
Is it default behaviour for the Gymfile to be a fixed set of values that can't be overridden?

I'd have expected it to be defaults if none are provided when running gym?

[2015-11-06 15:34] CsabaSzabo opened #140 "Cannot set build settings specify properties"
Hi,

With xctool we're using `SHARED_PRECOMPS_DIR` and `GCC_PRECOMPILE_PREFIX_HEADER` build settings specific properties for the building, which is required for our build system.

I couldn't find a way to se the same for `gym`. Could you pleas verify it?

Example xctool command:
[code]
Source: https://developer.apple.com/library/mac/documentation/DeveloperTools/Reference/XcodeBuildSettingRef/1-Bui

[2015-11-07 14:48] NSCabezon commented on #113
How did you know it was the run script?? I'm getting the same error:

[code]

[2015-11-08 02:32] richardoti commented on #138
Can you try:
`use_legacy_build_api: true`
in Gym? It may succeed.

[2015-11-08 09:24] KrauseFx commented on #139
Could you give an example on how you configured `gym` and how you call it so that I can reproduce your concerns?

[2015-11-08 09:25] KrauseFx commented on #69
@yakimant Have you seen the [code signing guide](https://github.com/KrauseFx/fastlane/blob/master/docs/CodeSigning.md)? It should clarify your question.

[2015-11-08 14:46] yakimant commented on #69
@KrauseFx, I've read it multiple times, believe me ;)

But there is no information about `provisioning_profile_path` gym argument there, neither about `PROVISIONING_PROFILE` xcargs gym parameter.
Don't they both work as it is predicted and I should rely only on solutiions in [code signing guide](https://github.com/fastlane/fastlane/blob/master/docs/CodeSigning.md)?

Thank you!

[2015-11-08 17:38] KrauseFx commented on #69
The option is not used in the latest version of `sigh`, please use the recommended method in the code signing guide instead, by passing the UDID of the provisioning profile to the `gym` action.

[2015-11-09 13:35] wedgybo commented on #139
Yea sure, sorry I should have included them in the first place.

I have a generic private build lane where gym is run with a given scheme/config/identity depending on where the app is going. I was going crazy trying to figure out why my scheme or identity would never change. Then once I commented out the two items in the Gymfile that set them I realised it was acting as a global override which I w

[2015-11-09 14:53] joshdholtz commented on #113
@NSCabezon I actually went into Xcode and and sifted through all the output during the build phases. The output showed that one of my run scrips was failing but Xcode seemed to not care and still built anyway (unlike Gym or Shenzen which errored out).

[2015-11-09 15:50] dcaunt commented on #90
As per the thread linked above ([Apple Developer Forums](https://forums.developer.apple.com/thread/13446)) upgrading the CFPropertyList gem from 2.3.1 to 2.3.2 resolved the issue for me.

[2015-11-09 21:34] GabrielCartier commented on #90
This has fixed my problem too, thanks!

[2015-11-09 22:10] bassrock commented on #104
I had the same issue occurring with a development profile just recently. I think this has to do with devices being connected to the machine. As it works fine on my laptop, but not on our CI server that has a bunch of iOS devices connected.

[2015-11-11 17:03] bdpluim opened #141 "Can you run gym without adding the archive to Xcode"
I'm running a lot of commit builds and I really don't need the archive.  I still need the IPA but the archive is unnecessary.  Can I run Gym without Archiving?

[2015-11-12 16:40] ericertl opened #142 "Feature request"
Can you add a command like "ipa info" from "shenzhen" to show mobile provisioning information about an .ipa file?

[2015-11-12 18:03] BrettThePark commented on #90
- Upgrading CFPropertyList (2.3.2) did NOT solve the issue for myself.
- `rvm install 2.0.0` did not work
- `rvm system` did not work
- use_legacy_build_api works for now

(iOS 9.1, Xcode 7.1.1, OS 10.10.5)

[2015-11-12 18:29] kcharwood commented on #90
Same for me @BrettThePark

[2015-11-12 18:50] masa-beheim commented on #90
@BrettThePark Same here.

[2015-11-12 20:13] Sega-Zero commented on #90
`use_legacy_build_api` works for me, thanks!

[2015-11-12 22:51] bassrock commented on #90
@BrettThePark post the output of gem list  I just ran that and saw I had two versions of the CFPropertylist gem and the sqlite3 gem. I uninstalled the newer version and now the command seems to work.

[2015-11-13 02:47] BrettThePark commented on #90
gem list doesn't have a duplicate. I'm not actually sure I even had CFPropertylist originally.

[code]

[2015-11-13 09:51] mAu888 commented on #104
`gem update` didn't work for me directly, but the hint to the dev forums helped. Running `gem install CFPropertyList -v 2.3.2` did the trick.

[2015-11-13 20:32] contra opened #143 "gym hangs on xcrun"
![screen shot 2015-11-13 at 12 30 19 pm](https://cloud.githubusercontent.com/assets/425716/11156715/660f0544-8a02-11e5-9052-de2cf9933f69.png)

When gym runs xcrun, it never continues because the xcrun command never closes itself.

Running `xcrun xcodebuild -list -project './platforms/ios/Charmed.xcodeproj'` by hand shows this:

![screen shot 2015-11-13 at 12 31 55 pm](https://cloud.githubuserconte

[2015-11-13 20:36] contra commented on #143
Okay - this is really weird: having xcode open makes the `xcrun` command close as expected. But only when xcode is open.

If anyone else is having this problem: keep xcode open while gym is running.

[2015-11-13 20:49] bassrock commented on #104
Ok interesting enough I use Bundler with fast lane. I added CFPropertyList and sqlite3 to my gem file and it instantly started working. My guess is the way fast lane works with bundler may be the issue.

[2015-11-14 20:20] fulldecent commented on #122
I was expecting Gym to get config from `Fastfile` as advertised when setting up fastlane.

This is a valid issue.

[2015-11-15 10:00] KrauseFx commented on #122
@fulldecent so `gym` prefers the value from the `Gymfile` over the value from the `Fastfile`? Or only if you run `gym` directly from the command line?

[2015-11-16 09:29] BKAppsmart commented on #143
I too had this issue, the fix was to have xcode open whilst gym occurs, however I am trying to create a process that fully automates the process and to open xcode is a massive flop in this system, is there a way around it that? I want to just be able to enter gym and done, rather than open xcode, enter gym and done ...

[2015-11-16 09:54] KrauseFx commented on #143
I just tested, it's working fine for me without having to run Xcode. Which version of Xcode and gym are you using?

[2015-11-16 09:54] KrauseFx commented on #143
Are you connected via ssh or locally?

[2015-11-16 10:20] KrauseFx commented on #142
I can recommend using https://github.com/chockenberry/Provisioning to quickly see the profile of your app. Or do you want to use it from the command line?

[2015-11-16 10:51] ericertl commented on #142
I use shenzhen from command line. It just would be nice to hace that functionality un gym, as shenzhen doesn't have much support lately.
It's only a suggestion to add.functionality for this gem.

[2015-11-16 14:12] mcfedr commented on #104
I found that the problem was caused because of how `xcrun` uses ruby gems, somehow it is [using the system ruby but with rvm gems](http://stackoverflow.com/questions/33041109/xcodebuild-no-applicable-devices-found-when-exporting-archive).

Much as I tried, the only solution I have so far it to run `rvm use system` and install and run fastlane using the system ruby.

[2015-11-16 15:12] BKAppsmart commented on #143
gym 1.1.5
xcode 7.1
locally :)
- yeah for some reason it just hangs at that xcode line :S

[2015-11-16 23:25] fulldecent commented on #122
I installed with `fastlane init`. It asked for a scheme and I denied (because it didn't give an explanation of how to choose, I digress). Then I added the scheme line to `fastfile`. This has caused all other tools (Deploy, snapshot) to properly determine which scheme to use. However, gym will continue to ask for scheme each time.

And this prevents me from doing unattended `fastlane ios deploy`.

[2015-11-17 01:25] contra commented on #143
gym 1.1.5
xcode 7.1.1
local

[2015-11-17 15:21] KrauseFx commented on #141
Sure, run `gym --help` and use this option:

[code]

[code]

[2015-11-17 16:49] BKAppsmart opened #144 "Calling gym from php fails at "Check Dependencies" but works fine in terminal..."
I am using gym to build an ipa and i have the following code in a bash script:

gym --project "PATH_TO_MY_PROJECT.xcodeproj" --scheme "MY_PROJECT_NAME" --output_directory "ANOTHER_PATH"

And it has been defeating me all day, as this script works perfectly fine when called from a terminal, however when I call it from a php script ...

$process = proc_open("sh GYM_SCRIPT.sh", $descriptorspec, $pipes

[2015-11-17 18:50] KrauseFx commented on #122
@fulldecent where did you specify the `scheme`? Can you share your `Appfile` and `Fastfile`?

[2015-11-17 19:33] filipesperandio commented on #143
Having the same problem.
gym 1.1.5
Xcode 6.4

[2015-11-17 21:13] fulldecent commented on #122
Sorry about this, I have fixed this by adding the line to my `Gymfile`.

New `Gymfile` here https://github.com/fulldecent/formant-analyzer/blob/master/Formant%20Analyzer/fastlane/Gymfile

I will say this was my fault. Should not have expected putting it in `Fastfile` to do anything.

[2015-11-17 22:41] mbjtrifork opened #145 "Support for WatchOS2 apps"
Could really use that the watchkit_fix also supported WatchOS2

[2015-11-17 23:07] cbowns commented on #122
@fulldecent That's interesting that the `Fastfile` propagated into some of the tools, though. What specifically did you have in it?

[2015-11-18 00:25] fulldecent commented on #122
Here is everything: https://github.com/fulldecent/formant-analyzer/blob/master/Formant%20Analyzer/fastlane/Fastfile

[2015-11-18 12:49] pvinis opened #146 "how can i debug?"
after building with gym, i get a .app. what extra steps do i have to do to be able to debug that will lldb?

[2015-11-19 03:29] nicwise opened #147 "Build fails when watchkit .app is alphabetically before iOS .app"
I have a watchkit app called "myApp NZ Watch Kit App.app" and a normal app called "myApp NZ.app", and for some reason, the `generators/package_command_generator_legacy.rb` `appfile_path` method fails to find the right file - it find the WatchKit app.

(technically it doesn't FAIL, but it does .ipa the wrong .app)

I've fixed it in my version, but could there be a `--appname "MyApp NZ.app"` option

[2015-11-19 08:19] BKAppsmart commented on #143
Any news on this? as Im creating like a fully automated upload system and last night I set off like 10 apps going and it hung on the first one all night because of this:

[37m[19:15:09]: [0m[33mxcrun xcodebuild -list -project 'PATH_TO_PROJ.xcodeproj'[0m

I even made a work around where I use a bash script to open the xcode project first and sleep for a few seconds due to the loading time of xc

[2015-11-19 08:21] #144 closed

[2015-11-19 08:23] BKAppsmart commented on #144
Problem here solved...

I needed to set my environment variable HOME to be that of the user, rather than that of the server www folder... Basically I think gym was looking in the server folder for the certificates, when really they weren't there and they were in my keychains which of course is within my user.
If anyone needs extra information on this please let me know...

[2015-11-20 12:29] filipesperandio commented on #143
I had to do the same. Very hacky!
I don't have much knowledge around `xcode` to think of an alternative.
Also waiting for ideas...

[2015-11-20 12:43] kugaevsky commented on #143
Had the same trouble few days ago.
My problem was that `xcrun xcodebuild -list -project` looking for user scheme in project directory. `xcuserdata` is where it located.

The solution for me was to install `xcodeproj` gem – `gem install xcodeproj`.
Create small script to recreate user schemes

[code]

And execute it. After this `xcrun xcodebuild -list -project` runs smooth.
Hope it helps you!

[2015-11-20 15:36] mathiasAichinger commented on #145
@mbjtrifork I will work on it today. Will link the pull request to this issue.

[2015-11-20 19:32] mathiasAichinger commented on #145
#148 should fix the issues

[2015-11-20 19:36] filipesperandio commented on #143
Still hangs...

[2015-11-21 05:47] puttin commented on #68
Any news on the `gym --file "devGymfile"`?

[2015-11-23 23:36] kugaevsky commented on #143
@filipesperandio Do you have `xcuserdata` in your project directory after running script?

[2015-11-24 08:09] mathiasAichinger commented on #90
@BrettThePark same here

[2015-11-24 08:12] PycKamil opened #149 "Codesing alert after updating to Xcode 7"
Since I updated to Xcode 7 my CI builds started to fails because of this alert:
![screen shot 2015-11-24 at 08 58 55](https://cloud.githubusercontent.com/assets/1215063/11361055/87e66c58-928a-11e5-94db-6abf420f8c4f.png)

After manually selecting "Allow" the build finish successfully and even after selecting "Always Allow" it will appear every time.
I have standard gym configuration
[code]

Before

[2015-11-24 08:18] masa-beheim commented on #90
Just had another try and this worked for me, hope it will help you too:
[code]

[2015-11-24 08:35] PycKamil commented on #149
I gave it last try, checked on CI agent that still runs on Yosemite for access rights for key and it was different than those set on my machine, after setting it up again it was fixed.
![screen shot 2015-11-24 at 08 58 55](https://cloud.githubusercontent.com/assets/1215063/11361532/6cc3bc6a-928e-11e5-9329-45b09b73b412.png)

Turns out El Capitan and Yosemite keychain are not compatible regarding ac

[2015-11-24 08:35] #149 closed

[2015-11-24 23:44] mfmendiola commented on #113
@joshdholtz Thank you!  The error returned by fastlane was mostly uninformative, but we found the culprit by looking at the output during the build phases.  Saved us a lot of time.

[2015-11-24 23:57] joshdholtz commented on #113
@mfmendiola I believe this is an `xcodebuild` issue (hiding the output) but I'm glad that helped :blush:

[2015-11-25 10:59] dhennessy opened #150 "Prevent screen clear between each build step"
Currently, it seems like gym clears the screen between each steps, which means that I see a flickering line like "Compiling xyz.m..." with the occasional warning.

Besides being distracting, it would be much easier to notice the warnings if the output simply scrolled like the other tools.

Please either disable this feature or provide an options to turn it off.

Thanks!

[2015-11-25 15:56] wolffan commented on #90
For me,
use_legacy_build_api: true

worked as well.
Previous errors: error with provisioning profiles not matching capabilities and beta-reports-active flag on .entitlements file.

[2015-11-25 17:25] tonyxiao commented on #12
This is especially useful if both an appstore ipa and an adhoc ipa are desired from the same build. @KrauseFx Any tips on how to proceed if someone wants to fork and submit a patch?

[2015-11-26 22:00] dugalp commented on #104
use_legacy_build_api: true

This worked for me, but wondering what side effects this will have if any.

[2015-11-27 10:43] jjuncker commented on #140
We use xcargs.

From "gym help":
    -x, --xcargs STRING  Pass additional arguments to xcodebuild. Be sure to quote the setting names and values e.g. OTHER_LDFLAGS="-ObjC -lstdc++" (GYM_XCARGS)

We use it to set the TARGETED_DEVICE_FAMILY in our Fastlane file:

    gym(
      scheme:scheme,
      export_method: export_method,
      use_legacy_build_api: true,
      output_directory: "./fastlane/bu

[2015-11-27 15:03] howie-misfit commented on #104
I am using gym 1.1.6
Tried:
1. use_legacy_build_api: true, works.
2. Do not use_legacy_build_api,
 $ gem update
 $ gem outdated
does not work.
3. Do not use_legacy_build_api,
 $ gem install CFPropertyList
does not work.
4. Do not use_legacy_build_api,
  $ gem install CFPropertyList
  $ gem install sqlite3
**It works !**

[2015-11-28 21:18] nijindal commented on #136
@KrauseFx Is there anyway right now to pass uploadSymbols as false ?

[2015-11-30 01:33] dugalp commented on #104
I think I actually had a different error but tried your suggestion of gem install CFPropertyList and gem install sqlite3 anyway.

When I use use_legacy_build_api, no error. Again, not sure what ramifications of using the legacy api would be, versus new one.  If someone could elaborate as well as provide some clues for a fix (are we still waiting on Apple?) that would help.

I have taken caution to

[2015-11-30 15:12] robertofrontado commented on #133
Got the same issue here!

[2015-12-01 01:11] DamianSheldon commented on #133
@robertofrontado I have fixed this issue, the reason is gym default use release Build Configuration which treat warnings as errors ,your can fix it use follow instructs: Targets > Select Your Target > Build Settings > Apple LLVM 7.0 - Warning Policies > Treat Warnings as Errors > Release > Chang to NO.

[2015-12-01 01:11] #133 closed

[2015-12-01 03:22] KrauseFx commented on #136
@nijindal Yes, using `fastlane` it's possible: `gym(something: false)`

[2015-12-01 22:15] johnlabarge opened #151 "Gym requires the UUID of the installed provisioning profile in order to locate it, but doesn't have a way of getting there from the app id"
I would argue for a provisioning profile convention (which appears to be partially there) bundle_id_*enviornment* which is one of (dev|appstore|userdefined) and having the Gymfile have gym lookup the uuid from bundle_id and environment or something like that.  Gym isn't making my life any easier with this provisioning profile issue as it stands :/

[2015-12-01 22:56] johnlabarge commented on #151
Right now I'm downloading the provisioning profiles to a local /profiles directory and doing this in my Gymfile
[code]
where `$BUILD` is assumed to exist and get_uuid is this unfortunate mess:

[code]

I *think* there must be something that I'm missing, but haven't found it yet

[2015-12-02 01:59] mokagio commented on #12
@tonyxiao @chechboy0 there is an `xcexport` action that could be exactly what you are looking for.

[code]

[2015-12-02 07:17] tonyxiao commented on #12
oh nice, but how does one path to the `xcarchive` file gym produces?

[2015-12-03 01:09] jshultz commented on #130
i'm having the same problem. did anyone ever resolve this?

[2015-12-03 04:14] KrauseFx commented on #139
Hey, sorry for the late reply. I addressed this issue with one of the last `fastlane_core` releases, could you update using `sudo gem update fastlane fastlane_core` and let me know if that works for you?

[2015-12-03 04:16] KrauseFx commented on #150
Thanks for your feedback @dhennessy, I'll prepare something for you with the next `fastlane_core` release :+1:

[2015-12-03 09:11] vorobievalex commented on #143
The same for me.
gym 1.1.6
scan 0.3.2
Xcode 7.1.1
El Capitan

scan also freezes after 'Build Succeeded'.

[2015-12-03 09:30] wedgybo commented on #139
No worries, I had worked around the issue by not using the Gymfile but just wanted to let you know.

It's looking good! Cheers for creating an awesome toolset!

[2015-12-03 09:30] #139 closed

[2015-12-03 20:17] arunks opened #153 "Gym --silent still dumps log on the console"
I am trying to run gym with --silent and I am expecting the logs will not be printed on the console. I am dumping the log file into the log directory anyways for debugging purposes. Am I missing something here? I have silent: "true" in my fastlane file.

[2015-12-03 20:24] arunks opened #154 "dsym is not getting zipped"
I am building my app right now with -
include_symbols: "true",

At the end of the process I expect the dsym to be zipped for easy upload to distribution mechanisms. But I dont see the ZIP file. Has this feature been removed? Or do I have to write a postscript?

[2015-12-03 20:24] taehoon-jung commented on #154
NAVER - http://www.naver.com/
--------------------------------------------
정태훈(JUNG TAEHOON)(ios@worksmobile.com) 님은 현재 부재중입니다.</br>
보내신 메일 <[gym] dsym is not getting zipped (#154)> 은 저장되어 있으므로 다시 보내실 필요는 없습니다.</br>
정태훈(JUNG TAEHOON)(ios@worksmobile.com) 님이 남기신 메시지 입니다.
--------------------------------------------
[Absence period : 2015-12-04 00:00 ~ 2015-12-04 23:59 GMT +09:00]<br>개인 사유로 연차를 사용합니

[2015-12-03 20:38] KrauseFx commented on #153
[code]

`silent` is meant to just show less information, not nothing. If you want no output, you can always pipe the output to `/dev/null` :+1:

[2015-12-03 20:38] #153 closed

[2015-12-03 20:45] arunks commented on #153
I am doing that currently in jenkins. It will be nice to have something that turns off logs for jenkins. Its too huge for any browser to handle. I think there is an issue on that already.

[2015-12-03 21:58] samrobbins commented on #150
Hey @dhennessy I just released an update with this fix. `gem update fastlane_core` and you should be good to go. Happy coding! :rocket:

[2015-12-04 04:33] KrauseFx commented on #150
Thanks @samrobbins :+1:

[2015-12-04 04:33] #150 closed

[2015-12-04 06:21] johncblandii commented on #71
+1 for this one. We append dates to ours as well. Build number would be another solid add though.

[2015-12-04 06:47] johncblandii opened #156 "Gymfile seemingly ignored"
[code]

I took this exact one and expected some error for not finding the scheme, etc yet nothing happened. It was a sanity check on whether or not my actual `Gymfile` was the problem or not.

My conclusion: the `Gymfile` is completely ignored. Thoughts?

Note:
- Cordova project
- gym 1.1.6

[2015-12-04 06:56] johncblandii commented on #156
I also tried this with `fastlane` and it still fails to properly use the values from the `Gymfile`.

I have to be doing something wrong. Any help would be appreciated.

[2015-12-04 10:32] dhennessy commented on #150
Thanks guys - awesome response!

[2015-12-04 23:03] dannob commented on #130
@jshultz  I just ran into this issue.  I found that my build post-action script was having problems.  It caused gym to hang.

[2015-12-07 10:31] filipesperandio commented on #143
@kugaevsky: It is a Cordova/Ionic project, so after creating the xcode project with `ionic build ios` I end up with `.xcodeproj` directory but `xcuserdata` is only created after opening XCode, which is exactly what I am trying to avoid. You might have some clue there?

[2015-12-07 11:45] filipesperandio commented on #143
@kugaevsky: I've also run the script you mentioned, it creates the `xcuserdata` but `gym` hangs the same way.

I also noted that opening XCode from the `.xcodeproj` directory creates a `.xcworkspace` besides `xcuserdata`. Is there a way we can automate that?

[2015-12-07 12:59] kugaevsky commented on #143
@filipesperandio Yep, there is a in my previous [comment](https://github.com/fastlane/gym/issues/143#issuecomment-158388533).

[2015-12-07 16:02] filipesperandio commented on #143
Thanks, @kugaevsky.
The fact that I didn't even have a `project.xcworkspace` was the root cause of my problem.
I've made a workaround script to basically add those files based on what XCode generates, not good for long term, but got me unblocked... =\

[2015-12-08 15:31] joshrlesch opened #157 "xcodebuild output not piped to log in xcode7"
When building with xcode7, gym is not suppressing the xcodebuild output. Does this act differently between xcode6 and xcode7. I noticed this pipe function is blank for the xcode7 command generator?
https://github.com/fastlane/gym/blob/d4eadaef51a1e037960cf7da386691ef91264b84/lib/gym/generators/package_command_generator_xcode7.rb#L33

[2015-12-08 15:45] joshrlesch commented on #157
nvm, sorry for the issue. Closing

[2015-12-08 15:45] #157 closed

[2015-12-08 23:37] dcoufal opened #159 "Support for zipped dSYMs Feature in 1.1.6 is causing HockeyApp upload issue"
Our app has a main iOS app and a watchos 2.0 app/extension pair.

After our update to gym 1.1.6, the DSYM for the watchos 2.0 extension is now being bundled with the iOS app's dsym file.

When we try to upload this zipped dsym to HockeyApp, we get an error from HockeyApp indicating that it could not match our bundleId. I'm assuming Hockey is either looking at the wrong DSYM file, or is confused by

[2015-12-09 10:16] vittoriom commented on #159
Interesting, I agree a parameter would be nice to have!

[2015-12-09 19:19] tabrindle commented on #143
The issue here isn't really with gym - as @kugaevsky has pointed out it is a cordova issue where schemes are not created with the project, and so xcodebuild hangs. Xcodebuild should throw an error for this. and return a nonzero exit code.

In any case, the ```xcproj.recreate_user_schemes``` script works for me.

@KrauseFx Would there be any merit in having a timeout on the ```xcrun xcodebuild -lis

[2015-12-09 19:41] filipesperandio commented on #143
That sounds good! :+1:

[2015-12-10 04:21] contra commented on #143
Instead of erroring on hang, why not realize the problem and fix it by running recreate_user_schemes?

[2015-12-11 00:31] KrauseFx commented on #68
@puttin Sorry, no plans yet

[2015-12-11 00:33] KrauseFx commented on #138
@pblitz Have you tried enabling the legacy build API? I'll close this issue for now. Feel free to re-open :+1:

[2015-12-11 00:33] #138 closed

[2015-12-11 00:33] KrauseFx commented on #138
Thanks @richardoti for jumping in

[2015-12-11 00:33] KrauseFx commented on #135
Sorry for not replying earlier. Glad you found a solution :rocket:

[2015-12-11 00:34] KrauseFx commented on #139
great, thanks for confirming :+1:

[2015-12-11 00:34] KrauseFx commented on #154
It should be zipped. Taking a look at this now :+1:

[2015-12-11 00:37] KrauseFx commented on #156
That's weird. Is your `Gymfile` in the same directory as your project? Can you share a screenshot of your setup in Finder

[2015-12-11 00:44] KrauseFx commented on #159
Running `gym` generated a `dSYM` file for me, it seems to be working.

[2015-12-11 00:44] KrauseFx commented on #154
Running `gym` generated a `dSYM` file for me, it seems to be working. Could you provide more information and ideally an example app that runs into this problem?

[2015-12-11 00:44] KrauseFx commented on #159
Could you provide more information and ideally an example app that runs into this problem?

[2015-12-11 02:09] richardoti commented on #138
@KrauseFx  :+1:

[2015-12-11 04:38] johncblandii commented on #156
Sure thing. It's an Ionic project (Angular on top of Cordova).

BTW, the push has been AMAZING for me. I think this project will be my go-to for every mobile project I do. Simply put: thank you!

![project](https://www.dropbox.com/s/1sopelf39pxi3aj/Screenshot%202015-12-10%2022.37.02.png?dl=1)

[2015-12-11 14:24] bartonhammond opened #160 "Code Sign error: No code signing identities found: No valid signing identities (i.e. certificate and private key pair) were found."
Running on Bitrise.io CI

[code]
Here's Fastlane

[code]

cert output:
[code]

sigh output:
[code]
gym input:

[code]

xcodebuild:

[code]

Summary:
[code]
XCode:
From project.pbxproj
[code]
<img width="720" alt="screen shot 2015-12-11 at 8 18 46 am" src="https://cloud.githubusercontent.com/assets/1282364/11745714/d8999f28-9fdf-11e5-918d-977b0fc1daa6.png">

[2015-12-11 15:52] corristo commented on #106
I'm having exactly the same problem. What data could I provide?

[2015-12-11 16:00] corristo commented on #106
It also looks like it somehow depends on the environment: I'm getting this issue when building Jenkins job, not everything seems correct on the same Mac when I'm running fastlane directly.

[2015-12-11 16:07] dcoufal commented on #159
I will work on an example app.

I believe you have to have a watchos 2.0 extension and be uploading to HockeyApp to see the issue.

[2015-12-11 16:14] corristo commented on #106
Manual call like this also produces incorrect ipa (archive is correct, though):
```/usr/bin/xcrun xcodebuild -exportArchive -exportOptionsPlist '/tmp/gym_config_1449849908.plist' -archivePath '/path/to/archive' -exportPath '/tmp/1449849908'```

export options plist contents:

[code]

[2015-12-11 18:56] ffittschen opened #161 "Rsync failed while packaging application"
Hi,
since a few days I get this error about every second time I run gym. Do you know what is causing this?

Log:
[code]

[2015-12-11 22:31] dcoufal commented on #159
I'm unable to repeat my issue today.

Several things changed: Update to Xcode 7.2, using gym 1.2.0 today, but those seem unlikely to have fixed the issue.

Most likely: Some temp HockeyApp upload issue or problem between keyboard and chair on my end.

I'm going to close this issue.

Thanks for your attention @KrauseFx et al.

[2015-12-11 22:32] #159 closed

[2015-12-12 00:20] KrauseFx commented on #159
Yeah :+1:

[2015-12-14 00:08] KrauseFx commented on #161
You could try using the `use_legacy_build_api` option to solve this problem.

[2015-12-14 00:12] KrauseFx commented on #160
Wow, thanks for the detailed report :+1:

The problem is that you selected `iOS Developer` and not `iOS Distribution` in your Xcode project :+1:

[2015-12-14 02:17] bartonhammond commented on #160
That's it? Gee, a better message from Apple would have saved me hours...

Thanks - Great tool!

[2015-12-14 02:17] #160 closed

[2015-12-14 03:24] justin opened #162 "Gym Crashing Trying to Export Archive"
Trying to test out Fastlane tools with a new project, but getting a crash when it tries to export my archive.

I submitted this as a crash report. Crash id is "ffe0dbcd069a055f2055958c694444df"

This is from my `Gymfile`.

[code]

let me know what else i can provide you to get this figured out.

[2015-12-14 04:12] KrauseFx commented on #162
Can you share the complete log output when running `gym`?

[2015-12-14 05:06] bartonhammond commented on #160
Could you recommend a book about getting an app ready for app store?  I'm using react native.  Thanks.

[2015-12-14 07:26] kdawgwilk commented on #90
@KrauseFx "I just pushed https://github.com/KrauseFx/fastlane/releases/tag/1.29.1 which now will automatically detect the export type if you use sigh and gym within fastlane :rocket:"

Doesn't look like auto detect is working with the new tool match :(

[2015-12-14 16:06] KrauseFx commented on #160
A book? No, but you should check out the docs https://developer.apple.com/library/ios/documentation/LanguagesUtilities/Conceptual/iTunesConnect_Guide/Chapters/SubmittingTheApp.html#//apple_ref/doc/uid/TP40011225-CH33

Don't buy a book, it will be outdated anyway

[2015-12-14 16:10] hjanuschka opened #163 "Build Number"
hello

i am actually trying to upload a new ipa to appstore on every commit, via gitlab-ci
how do i handle the version increment? - is there any feature that fastlane can extract the latest build number from itunesconnect and increment by one?

the agv-tool call just increments the current commited build number.

regards

[2015-12-14 16:12] KrauseFx commented on #163
You can easily build this using `spaceship`.
Also, check out the `fastlane` actions: `increment_version_number` and `increment_build_number` and add them before building with `gym`

[2015-12-14 16:12] KrauseFx commented on #90
@kdawgwilk very good point, adding this right now!

[2015-12-14 16:15] hjanuschka commented on #163
thx for the fast reply - actually i am doing a ` increment_build_number` in the `before_all`

but the CI increments the build version as it should, but on the next commit (from workstation) - the increment results in the same as in the previous CI run, as the increment is not commited/pushed, and therefore itc complains about already existing build nr.

[2015-12-14 16:31] bartonhammond commented on #160
Ok - Thanks - ```<caution crying ahead> ```not being a Apple Obj-C developer and only having to work w/ XCode to build my React-Native app, when I do go through the Apple docs I get totally overwhelmed and confused ```</caution leaving crying>```.  Maybe it's just me.  Any way, thanks for the advice, the link looks very helpful.

[2015-12-14 18:38] justin commented on #162
Sure: https://gist.github.com/justin/2b3e10167197b8f9e028

[2015-12-14 18:43] #90 closed

[2015-12-14 19:30] JaviSoto commented on #90
Thanks @kdawgwilk!!

I **think** that may have fixed one issue, but now I believe I see a different error:

[code]

Does this look familiar at all?

[2015-12-14 22:00] hjanuschka commented on #163
ok i ended up with this one - in my CI script :smile:

[code]

not elegant, but works :)

[2015-12-14 22:18] kdawgwilk commented on #90
@JaviSoto You might still need to add `export_method: 'enterprise'`to your Fastfile.  I haven't done an Enterprise release before 😁

[2015-12-14 22:20] JaviSoto commented on #90
Fastfile or Gymfile? before, Fastlane was able to infer that that profile was Enterprise and *do the right thing*. Where would I put that?

[2015-12-14 23:34] #163 closed

[2015-12-14 23:34] KrauseFx commented on #163
Ok :+1:

[2015-12-15 06:55] kdawgwilk commented on #90
@JaviSoto It looks like @KrauseFx fixed the problem and will be released shortly and then you should be back in business without having to add the `export_method` 😊

[2015-12-15 13:21] vorobievalex commented on #143
In my case this did not reproduce under another user on the same mac. It seems that something screwed up for the particular user only. No cleanup helped, so I have just changed user at this machine.

[2015-12-15 18:38] KrauseFx commented on #162
That's a weird error that's caused by this `xcodebuild` command
[code]

You could try updating your `Gymfile` to also have `use_legacy_build_api true`, as this will use the Xcode 6 API to sign your app.

[2015-12-15 20:02] justin commented on #162
That doesn't seem to help. I swapped to that and this is the new gist: https://gist.github.com/justin/2b3e10167197b8f9e028

[2015-12-17 03:24] linktoming commented on #89
In my case, I just replace `ipa` with `gym` as the console output suggested, but the new script with `gym` got the above error while `ipa` wouldn't.

My Fastfile with real value masted out.
[code]

Is it required to use `sign` before `gym`?

[2015-12-17 20:07] KrauseFx commented on #89
@linktoming You should use [match](https://github.com/fastlane/match) for codesigning.

[2015-12-18 00:03] JaviSoto commented on #90
@kdawgwilk woot! Do you mind pointing to the PR with the change? I'd like to check it out, and see if it's been fixed for me.

[2015-12-18 09:16] ffittschen commented on #161
Thanks, this seems to work reliable 👍🏻

[2015-12-18 09:16] #161 closed

[2015-12-18 16:06] valeIT opened #164 "Mac - Developer ID Signed Application"
Is it possible to build and sign a Developer ID Signed Application using gym?

If yes, what should i put in my FastFile?

[2015-12-18 22:52] KrauseFx commented on #164
Sorry, I don't think that's possible right now.

[2015-12-18 23:06] valeIT commented on #164
No need to say sorry =)

[2015-12-18 23:06] #164 closed

[2015-12-20 12:56] yoneapp commented on #162
I also had a problem similar. Problem has been resolved.

$ bundle exec fastlane xxx -> $ fastlane xxx

Just for information.

[2015-12-21 12:29] sborkin opened #166 "Getting expand_path crash while running gym"
Hello,

I trying to build my app using fastlane and circleci and getting a crash on expand_path inside the gym module.

Here's my fastline file:

[code]

The output:

[code]

[2015-12-21 13:17] radex opened #167 "Mac support"
I think it would be great if I could use Gym on my build server for automated Mac builds. (I'm currently using raw xcodebuild and it's fine, but produces broken release builds without setting up proper archiving)

I might be potentially interested in doing the work to support it if the directorate approves ;)

[2015-12-22 14:24] madnik commented on #113
As @KrauseFx suggest always make sure use correct xcode-select version. I had the issue for a project that successfully built in xcode 7. My Issue was xcode command line tools configured to use previous version, which was not aware of compiling swift 2 stuff. U can check this at XCode -> Preferences-> Locations-> Command line tools.

[2015-12-23 19:28] lacostej opened #168 "gym within fastlane / archiving fails with "Error Domain=IDEDistributionErrorDomain Code=14 "No applicable devices found."""
See sentry # ee30c12be2e681b3b068b6865fb862cc

I noticed that exportArchive fails when gym is ran from fastlane, but not when ran standalone on my machine:

Realated to http://stackoverflow.com/questions/33041109/xcodebuild-no-applicable-devices-found-when-exporting-archive

# gym standalone

[code]
=>
[code]

# gym within fastlane

[code]

## exportArchive fails
[code]

## running the command dir

[2015-12-23 20:59] lacostej commented on #168
#dupe #90

Problem caused by match not detecting the proper export_method

[2015-12-23 20:59] #168 closed

[2015-12-23 22:14] lacostej commented on #90
I struggled with the "No applicable devices found" issue for a while.

* Installing CFPropertyList (2.3.2) did NOT solve the issue for myself. (I don't have CFPropertyList installed under /Library/Ruby or in any other rvm anyway)
* using a wrapper that uses rvm system did not work (see experiments under #168)
* use_legacy_build_api works for now

(iOS 9.2, Xcode 7.2, OS 10.11.2)

[2015-12-24 09:34] skywinder commented on #89
Same issue as @dev-mush the recap:

[code]

Same archive export with xcode got this error:
![screen_shot_2015-12-24_at_11_07_34](https://cloud.githubusercontent.com/assets/3356474/11992700/cdb18bb4-aa31-11e5-92cd-fef545c4d221.jpg)

So, the problem was in HealthKit. I enable it via `produce`:

    produce enable_services --healthkit

Right after the old provisions becomes invalid.

So you have to r

[2015-12-24 13:14] skywinder commented on #90
@KrauseFx still has this issue..

[code]

[2015-12-24 14:10] skywinder commented on #90
same thing with

1)    sigh(development:true, app_identifier:"com.awesome.ios.beta" )
2)    `match`  (I try to set provision profile with $(match_variable) options and specify it explicit in build settings)

3)    gym(
         clean: true,
        workspace: workspace,
        scheme: scheme,
        configuration: configuration,
        include_bitcode: false,
        export_method: "development

[2015-12-26 04:48] jtmarmon commented on #160
Hi y'all,

I'm running into the same issue (funnily enough also on bitrise.io)

Is there a way to create a scheme for ad hoc deployment programmatically? We generate the xcodeproj in continuous integration, so there's no stateful way to persist configuration like that

[2015-12-26 17:27] jtmarmon commented on #160
Update: managed to fix this after a slew of trying random things, but I think the crucial steps were
* Including the `.cert` and `.p12` I wanted to use in the repo
* Importing those to a temp keychain on bitrise
* Hardcoding the cert id in the `sigh` invocation
* Hardcoding the cert name (`iPhone Distribution: Company (<uid>)`) as the `codesigning_identity` parameter for `gym`

[2015-12-26 17:30] jtmarmon commented on #160
Special thanks to @natanrolnik for his blog post which helped me with imports (http://natanrolnik.me/2015/10/21/introduction-to-fastlane-and-integrating-it-with-circleci-to-deploy-beta-with-crashlytics-fabric/)

[2015-12-26 21:08] natanrolnik commented on #160
Hey @jtmarmon ! Thanks for the mention and for the link to the blog post!

[2015-12-28 17:07] skywinder commented on #90
Fuf.

    use_legacy_build_api true

string in `Gymfile` works.
Why don't make this option as default for now?

[2015-12-29 07:21] calclavia opened #171 "Gym command gets stuck and never ends"
I typed the following command into terminal:

[code]

The command gets stuck after it prints this line. It stalls and never finishes:
[code]

I tried typing the following into the terminal:
[code]

It correctly lists out the target of the xcode project. I'm using Cordova to generate the xcodeproject file.

Using gym v1.2.0
System: Mac OS X El Capitan 10.11.2

[2015-12-30 06:52] zinthemoney commented on #89
adding `use_legacy_build_api: true` to `gym` also worked for me.

[2015-12-30 09:28] cybertk commented on #156
Same issue here

[2015-12-30 09:29] cybertk commented on #156
Is this fixed by #170?

[2015-12-30 15:09] CsabaSzabo commented on #140
@jjuncker that's great, thanks

[2015-12-30 15:09] #140 closed

[2015-12-30 21:06] knitterb-razzle commented on #69
This still doesn't make sense to me.  The code signing guide referenced here has everything listed as deprecated, the new one says "just create all the certs for each type of build and magic happens" (paraphrasing).  Unfortunately, my "Debug" build and "Release" build both use the same distribution certificates.  How do I tell ```gym``` to use the distribution/appstore certificates for "Release" a

[2016-01-04 10:34] thekeshavgoel opened #173 "Missing Beta Entitlement on upload to ITC"
I'm using gym (v1.2.0) and I tried using the Adhoc as well as Distribution(App Store) provisioning profiles. But every time I got the same error uploading it to ITC (Using Application Loader).
"WARNING ITMS-90191: "Missing beta entitlement. Your app does not include the beta-reports-active entitlement. If you intend to distribute this build via TestFlight for beta testing, please re-build this app

[2016-01-04 10:42] thekeshavgoel opened #174 "Invalid Watchkit support"
Building a watch app and uploading to ITC using Application Loader I receive following mail:

Invalid WatchKit Support - The expected app is missing from the app’s root location, such as ${expectedLocation}.

Invalid WatchKit Support - The WatchKitSupport2 folder is missing. Rebuild your app using the current public (GM) version of Xcode and resubmit it.

Invalid Swift Support - The SwiftSupport f

[2016-01-04 19:40] vpolouchkine commented on #174
Can you try running it without the use_legacy_build_api flag?

[2016-01-05 14:54] HughJeffner commented on #107
Single quote in the product name causes similar crash as well.  I think it has to do something with the `.log` file since it never gets generated.

[code]

[2016-01-06 14:33] madnik commented on #69
@KrauseFx what is defaults if I'm not using match. Does gym select provisioning profile based on configuration in xcode? I'm running a issue that fabric complaining device ids missing after submitting a build by gym.

[2016-01-06 18:00] lacostej commented on #116
I had this issue. Using ```rvm use system``` wasn't sufficient in my case as I needed to unset more variables to properly clean the ruby environment for xcodebuild

I'll clean this up and submit a tentative patch that works with rvm.

[2016-01-07 10:06] lacostej opened #177 "Concatenate LOG_DIR/IDEDistribution.standard.log to output upon xcodebuild failures"
Upon exportArchive failure, xcodebuild should concatenate the output of the standard error log so that we can troubleshoot easier the issue.

Typical error is shown like this:
[code]

Note the

[code]

This is the LOG_DIR

The standard log can be found under $LOG_DIR/IDEDistribution.standard.log

[2016-01-07 10:58] lacostej commented on #162
I've added 2 PR that might help fix or troubleshoot this further. See #176 and #178.

[2016-01-07 11:09] lacostej commented on #143
We had the same issue on the xcode plugin in jenkins a while back. The solution was to add a 10 second timeout.

Issue: https://issues.jenkins-ci.org/browse/JENKINS-24874
Fix: https://github.com/jenkinsci/xcode-plugin/pull/58/files

See also the current stackoverflow explanation for the timeout http://stackoverflow.com/questions/5959382/building-with-xcodebuild-timed-out-waiting-for-ideworkspace-0

[2016-01-07 11:17] lacostej commented on #116
I implemented a fix as part of PR #176. I need feedback from people using rbenv

[2016-01-07 17:34] lacostej commented on #143
See fastlane/fastlane_core#69 for the PR. Sorry for the above duplicated notifications, I was cleaning my repo...

[2016-01-07 18:04] lacostej commented on #171
Duplicate of #143

[2016-01-07 18:14] lacostej commented on #89
For those running into issues while using the new export API, the #178 PR should help troubleshooting things further as it appends the standard xcodebuild output to the gym build output.

[2016-01-07 18:14] calclavia commented on #171
I solved it. It seems like adding "sudo" in front of the command will cause it to fail. Not adding sudo will allow it to work.

[2016-01-07 18:17] lacostej commented on #87
@mdeandreis is the issue fixed ? Can it be closed ?

[2016-01-07 20:07] iONsky opened #180 "Ability to add manifest to exportOptionsPlist for enterprise deployment"
At the moment I have to create an extra manifest plist file for my enterprise app deployment by hand. Since Xcode 7 it will be generated automatically when you add a 'manifest' dictionary into the exportOptionsPlist.

Sadly I haven't found a way to tell gym to add this to the exportOptionsPlist when exporting an ipa.

Do you think it would be possibly to have a parameter to pass the content of the

[2016-01-08 14:41] sylvainlaurent commented on #51
using fastlane 1.49.0, when gym starts it says include_symbols is enabled, but then when deliver uploads the IPA to ITC, it seems that there's no symbol (in ITC website, the uploaded build has "No" for "Includes Symbols").

[2016-01-08 15:37] sylvainlaurent commented on #51
sorry, I was mistaken : after a couple of minutes of "processing" by ITC, the symbols are now available.
So far so good, I think this issue can be closed...

[2016-01-09 04:52] KrauseFx commented on #143
Thank you so much @lacostej! :+1: I just pushed a new release, please test it and let us know if it works :+1:

[2016-01-09 11:10] lacostej commented on #90
From 1.3.0, gym will output more information about the underlying failure.

To everyone having this issue, including @skywinder, @JaviSoto @kcharwood, I suggest to try with the latest gym without use_legacy_build_api: true. If things still fail:
1. take note of the new output
2. merge PR #176 locally and try again. Make sure the xcrun xcodebuild command uses the xcbuild-safe.sh wrapper.

Report ou

[2016-01-09 11:29] lacostej commented on #104
For the record, that one is also linked to #168.

[2016-01-09 11:31] lacostej commented on #177
Closed in 1.3.0

[2016-01-09 11:31] #177 closed

[2016-01-09 12:21] lacostej commented on #166
I looked at the stack. It seems to indicate that actions/gym fails because it receives a nil by Gym::Runner.run(). This would mean that a nil IPA path was returned somewhat.

I don't see how that can happens without returning more output.

The run() method at least reached the build_app stage, but after that I am confused at what happened. There's no print out of the moving of the file or any of t

[2016-01-11 03:03] karlvr opened #183 "Add app_identifier config key"
I have an app which is various built for App Store and Testflight, and Enterprise deployment—of course on different teams. Because it's on different teams the app uses different bundle identifiers.

In one lane I want to build using enterprise, and in another Testflight and App Store. I can specify the `team_id` and `app_identifier` to `sigh` and it works wonderfully. The only problem is that `gym

[2016-01-11 09:57] greenmood commented on #133
got the same error. I think in my case, this can be somehow related to using swift project in objective-c project.

[2016-01-11 11:00] natanrolnik commented on #69
Interesting - I'm having the same issues that @yakimant and @madnik . It seems that even if you set:

[code]

The build itself is fine, in the archive the correct provisioning profile can be found; but the export from archive operation takes the provisioning profile from `~/Library/MobileDevice/Provisioning\ Profiles`, that may be outdated...

[2016-01-11 16:20] vpolouchkine commented on #133
Hey @greenmood could you post your log please?

[2016-01-11 21:10] jshier commented on #90
Tried again with 1.3.0, failed with this error, plus a lot of output:
[code]
Any idea how I would run that PR locally using RVM and Bundler?

[2016-01-11 21:27] rcedwards commented on #100
I'm still seeing this issue with 1.3.0. Was there a reason why this issue was closed?

[2016-01-12 02:07] KrauseFx commented on #69
You should use [match](https://github.com/fastlane/match) which will tell you how to setup your Xcode project: https://github.com/fastlane/match#setup-xcode-project

[2016-01-12 02:46] KrauseFx commented on #167
`gym` already does support Mac apps. Or did you run into problems using it?

[2016-01-12 02:46] KrauseFx commented on #167
There is even a Mac project example in the `examples` directory

[2016-01-12 02:48] KrauseFx commented on #156
Yeah, this should be fixed :+1:

[2016-01-12 02:49] johncblandii commented on #156
Ok, will revisit soon to verify.

[2016-01-12 02:55] KrauseFx commented on #177
:+1:

[2016-01-12 02:56] KrauseFx commented on #180
That's a great feature request, I like it :+1:

[2016-01-12 10:08] greenmood commented on #133
I resolved it. I had swift project in objc project. Main project has custom build configuration, swift project didn't have them. So when i tried to build, i got an error "Couldn't find module" for swift files. When i created same configurations for subproject, everything worked.

And in this particular case, i used swift project as dynamic framework, which was built without those custom configurat

[2016-01-12 14:15] skywinder commented on #153
@KrauseFx even with this option gym generate huge output (more than 1000 strings in me case) such as

[code]
and so on. Is it possible to make it more quiet?

[2016-01-12 18:26] knitterb-razzle commented on #69
I switched to using this and it appears to work. (note: added sigh to the ```dev``` lane)

[code]

Probably the most confusing is that even though I used ```match``` to separately set up our certs, I didn't include the suggested Provisioning Profile settings and it still works.  Ambiguity like this makes it feel like magic.  No clue why it's working, but it is.  I wish I knew why.

[2016-01-12 19:42] KrauseFx commented on #162
Bundling a new release now :+1:

[2016-01-12 19:47] KrauseFx commented on #153
@skywinder sure, just pipe the output to a file

[2016-01-12 20:13] kinwahlai commented on #90
@jshier PR#176 had been merged to master, so you can install gem from master branch.

i added this into my Gemfile and run bundle install
`gem 'gym', :git => 'https://github.com/fastlane/gym.git', :branch => "master"`

@lacostej it works for me.

[2016-01-12 20:53] rcedwards commented on #100
Also present in 1.4.0

[2016-01-12 22:14] skywinder commented on #153
@KrauseFx yes, but this will silent all logs at all.

[2016-01-12 22:18] KrauseFx commented on #90
@kinwahlai I already pushed a new `gym` release too :+1:

[2016-01-12 22:44] KrauseFx commented on #69
@knitterb-razzle that's Xcode magic then, it will automatically choose the right profile sometimes., I'd recommend setting it in the project like described in the `match` README

[2016-01-12 22:44] KrauseFx commented on #162
:rocket:

[2016-01-12 23:32] KrauseFx commented on #183
Yeah, it's a bit different for `gym`, as it just uses your Xcode project. There is an `update_app_identifier` action you can use

[2016-01-12 23:57] karlvr commented on #183
I wanted to avoid `update_app_identifier` as I don't actually want to modify the project, although I guess I could revert the change later eh? I'll stick with my `xcconfig` solution in the meantime... that seems to work nicely.

Is there a way, aside from `xcconfig` (which requires an extra file), to set variables like `PRODUCT_BUNDLE_IDENTIFIER` to be used by `xcodebuild`?

[2016-01-12 23:58] KrauseFx commented on #183
You can either user configs or update the project. There is no other solution as far as I'm aware of.

[2016-01-12 23:58] KrauseFx commented on #183
You can either user configs or update the project. There is no other solution as far as I'm aware of.

[2016-01-12 23:59] karlvr commented on #183
Great, thanks. `xcconfig` it is!

[2016-01-12 23:59] #183 closed

[2016-01-13 00:07] KrauseFx commented on #183
I can already see Charles for iOS :rocket:

[2016-01-13 00:08] karlvr commented on #183
Heh, would be nice, but this is http://veeforvideo.com/ and other work.

[2016-01-13 00:18] pranavss11 commented on #71
+1 for this. Does anyone know if there's a work around for this for now?

[2016-01-13 00:27] pranavss11 opened #186 "Multiple schemes with Gymfile"
I have a project that has multiple schemes/targets. Is there a way to setup Gym to build multiple schemes through a gym file?

[2016-01-13 01:09] KrauseFx commented on #186
Yeah, you should use [fastlane](https://github.com/fastlane/fastlane) for that. You might also want to check out https://github.com/fastlane/fastlane/blob/master/docs/FAQs.md#multiple-targets-of-the-same-underlying-app

[2016-01-13 01:11] KrauseFx commented on #71
If you use `fastlane` this is really easy to add, as you can rename the file after building.

[2016-01-13 09:44] jcampbell05 opened #187 "Expose new Swift toolchain flag for Xcode 7.3"
Re-duplication of https://github.com/fastlane/fastlane/issues/1079

In the new `xcodebuild` we will be able to specify which version of swift we wish to use. This is just a note to add support for it, once Xcode 7.3 is released.

We should add an extra flag for `gym` which will pass the toolchain of swift to use, (Unless Gym just accepts the same flags that xcodebuild does).

We should expose this

[2016-01-13 14:52] lacostej commented on #90
@kinwahlai cool
@jshier can't wait to see if gym 1.4.0 fixed your issue

[2016-01-13 15:07] ANTARESXXI commented on #100
Getting this error in 1.4.0

[2016-01-13 16:31] iOSAppMaker opened #188 "Error: Need to recreate schemes"
xcodebuild -list timed-out. You might need to recreate the user schemes. See https://github.com/fastlane/gym/issues/143

I was wondering why this issue now, didn't use to have any such problems before.

[2016-01-13 16:49] hborders opened #189 "Can't pass arbitrary build settings"
Please add a parameter for arbitrary build settings.

The `xcodebuild` manpage lists the following parameter order:

[code]

but when I invoke `gym` within my `Fastfile`:

[code]

I get the following `xcodebuild` invocation:

[code]

which results in the following error:

[code]

If I move `archive` before `BAR=baz` and manually invoke `xcodebuild`, everything works:

[code]

[2016-01-13 17:59] KrauseFx commented on #188
Make sure to have the schemes marked as Shared

[2016-01-13 18:01] iOSAppMaker commented on #188
Yes, already checked that.

[2016-01-13 18:02] iOSAppMaker commented on #188
Also, I seem to have to do it every time gym gets run.

[2016-01-13 18:06] KrauseFx commented on #188
There is a fastlane action to regenerate the schemes automatically before building :+1:

[2016-01-13 19:35] iOSAppMaker commented on #188
@KrauseFx  Isn't the need to recreate schemes everytime an error??
I don't use the FastFile method recreate_schemes because it doesn't set the schemes shared in it.

[2016-01-13 19:52] iOSAppMaker commented on #188
Well I tested recreating using the FastFile recreate_schemes method, but it is showing the error still asking me to recreate schemes.
It makes no sense.
Additionally, these schemes recreated using the recreate_schemes method is not shared.

[2016-01-13 20:28] jshier commented on #90
This seems to have fixed the issue for me. Will this work on a Jenkins install as well? That's really my only concern moving forward.

[2016-01-13 20:48] KrauseFx commented on #90
I actually run into the same issue right now. I tried the same export step with Xcode and the requests time out. Maybe this actually sends some kinds of requests to Apple to validate something?

[2016-01-13 22:29] iOSAppMaker commented on #188
I think there is some problem with the updated gym, because when  downgraded everything works smooth without any problem.

[2016-01-14 11:22] fatuhoku commented on #143
My experience with gym 1.4.0 was that it looked like it was going to hang, but after a 3-4 minutes it transpired it progressed, saying that it had compressed some `.dSym`s. So I guess this is fixed?

[2016-01-14 17:08] OlegAnghelov commented on #143
Hi all!
Using the most recent releases of all fastlane-tools, and still getting this pretty often:
[code]
At the time I have the Xcode running but the project is closed.
Is it already a known issue, or can I help with some reports? (report number `76cceebc8884440eb5abbe9a4d604dc0`)

[2016-01-14 18:40] jeromescheer opened #190 "tvOS support"
Hi guys!
I was trying to build my tvOS app and got a `gym doesn't support tvOS projects yet, we're working on adding this feature!` error. Any update about this?

Keep up the good work!

[2016-01-14 21:38] rammangai87 commented on #162
The reason is the method parameter in the exportOptions.plist should exactly match the type of provisioning profile which is used to codesign the Archive.

Ex: If it is an enterprise profile - then the value of method should be enterprise. The Same applies for app-store as well.

A quick note - If our application has swift files in it - the exportarchive produces SwiftSupport folder only in case o

[2016-01-14 21:39] rammangai87 commented on #89
The reason is the method parameter in the exportOptions.plist should exactly match the type of provisioning profile which is used to codesign the Archive.

Ex: If it is an enterprise profile - then the value of method should be enterprise. The Same applies for app-store as well.

A quick note - If our application has swift files in it - the exportarchive produces SwiftSupport folder only in case o

[2016-01-15 00:45] KrauseFx commented on #190
Hey @jeromescheer, we previously added support for tvOS projects in `scan` with [this release](https://github.com/fastlane/scan/releases/tag/0.4.1). We're still working on updating all tools to support tvOS /cc @samrobbins

[2016-01-15 08:20] hjanuschka commented on #163
for the record - with the latest release of fastlane we are using:

[code]
now

[2016-01-15 09:46] jeromescheer commented on #190
Thanks for the reply @KrauseFx

[2016-01-15 09:46] #190 closed

[2016-01-16 18:05] thekeshavgoel commented on #174
It did work, Thanks @vpolouchkine

[2016-01-16 18:05] #174 closed

[2016-01-18 01:08] edwardvalentini commented on #161
+1 same issue -- `use_legacy_build_api` fixes the problem.. but what is the underlying cause?  what do we need to change to use the newer build api ?

[2016-01-18 08:01] lizzie8023 commented on #108
Thank you!

[2016-01-18 08:59] iOSAppMaker commented on #188
The problem is with fastlane_core. Once I downgraded it to 0.31.0, there's no problem.

[2016-01-18 11:20] pbrooks commented on #188
This is due to this pull in the core: https://github.com/fastlane/fastlane_core/pull/69/files .
My current build machine is slow and Unity Xcode projects are big, so it naturally trips the 10 second timeout, if I alter this timeout value then the issue goes away.

[2016-01-18 11:33] iOSAppMaker commented on #188
Why isn't this corrected in the official fastlane repo?? I'm sure so many others are facing the same problem.

[2016-01-18 11:44] pbrooks commented on #188
I believe it hasn't been reported yet?
Something that possibly only a few of us are experiencing and the error message is misleading.

A current workaround would be to edit lib/fastlane_core/project.rb and extend the timeout. (Most likely in /Library/Ruby/Gems/2.0.0/gems/fastlane_core-0.33.0)

[2016-01-18 14:39] iOSAppMaker commented on #188
In my case I downgraded to 0.31.0.

[2016-01-19 05:52] codesourse opened #191 "How to build iOS apps by using In House Distribution Certificate"
How to package  iOS apps by using In House Distribution Certificate

[2016-01-19 05:53] codesourse commented on #191
gym -inHouse  ?????

[2016-01-19 21:34] willm commented on #143
Regrading cordova not creating schemes on first build, I found [this](http://stackoverflow.com/a/28930883/752756) answer very helpful, basically there's a gem (xcodeproj) that can create the schemes as shared for you without hacking around with opening the xcode gui. It's still not perfect but works well enough to automate the build.

[2016-01-19 21:35] vpolouchkine commented on #191
You can specify it via the --configuration flag.

[2016-01-19 23:36] JaviSoto commented on #90
I just tried again without legacy API, I get this:

[code]

[2016-01-20 00:04] KrauseFx commented on #191
Also, check out the docs on how to do code signing with fastlane https://github.com/fastlane/fastlane/blob/master/docs/CodeSigning.md

[2016-01-20 09:16] lacostej commented on #90
@JaviSoto do you get more output after EXPORT FAILED ? Are you sure you are using gym 1.4.0 or later ?

[2016-01-20 11:07] lacostej commented on #116
This should be closed as it was implemented in 1.4.0

[2016-01-20 11:30] lacostej opened #192 "Improve gym error handling for export archive"
When using ```gym```to export archives, xcodebuild error handling can sometimes be confusing.

By default, all output, standard and error, from the xcodebuild command, is outputted to the standard error (and not colorized). Then gym detects issues and appends an error message. Also, if a particular error happens, e.g. the xcodebuild standard log is now [concatenated](https://github.com/fastlane/gy

[2016-01-20 18:18] KrauseFx commented on #192
Sounds great :+1:

[2016-01-20 20:07] KrauseFx commented on #116
Thanks again @lacostej :+1:

[2016-01-20 20:07] #116 closed

[2016-01-21 01:24] codesourse commented on #191
Thank you ,i have sloved my problem.

[2016-01-21 01:32] #191 closed

[2016-01-21 10:34] lacostej commented on #192
I looked into coloring the executed output command differently and here are my findings:

* PTY.spawn merges stdout and stderr
* if we move away from PTY.spawn, e.g. to popen3, we need to be careful at not creating deadlocks (either using threads or using select). Also we might lose some colors (e.g. by default rspec doesn't force coloring on its output for non tty environments).

[2016-01-22 01:03] JaviSoto commented on #90
I'm using 1.5.2. This is all I see:

[code]

[2016-01-22 06:34] lacostej commented on #90
@JaviSoto it cannot be 1.5.2. [The latest release of gym is 1.4.0](https://github.com/fastlane/gym/releases) and should display a different output. I suggest you try updating gym (gem update gym or whatever you need for your environment).

[2016-01-22 17:46] JaviSoto commented on #90
Oh, I'm sorry, that was my fastlane version, my gym version is indeed 1.4.0. And I don't see anything outputted besides that :(

[2016-01-24 08:16] mgrebenets commented on #189
It must be also related to use of `-archivePath` and `archive`.
I'm pretty sure I had issues before with `xctool` when I put `-archivePath <path>` _before `archive`. In my case the error was like "-archivePath invalid action".

Same might be true here and the order of `archive` and `-archivePath` makes it fail.